
	<div style="height: 90px; width: 100%; background-color: #1a263b">

	</div>
	<div class="clearfix" style="margin:40px">
			<h2 style="text-align:center">公司简介</h2>
				<p>成都青辉阳科技有限公司(简称: 青辉阳)成立于2016年, 是中国领先的企业级信息服务企业. 青辉阳深耕企业级信息服务领域, 公司推出的企业全角色工作平台帮助企业节约IT成本, 提高工作效率
				,在使用过程中平台提供大量数据支持, 让决策者随时查看公司运营成本等重要数据, 以做出正确的决策. </p>
				<p>公司推出的企业全角色工作平台采用独特的saas架构, 提供丰富的功能, 公司所有角色都可以使用该平台来完成日常的工作活动。 公司不必进行IT建设和招募运维人员, 青辉阳将提供免费的IT和运维服务,帮助企业节约大量成本. </p>
				<p>青辉阳正投入大量资金和人员研发其他企业级服务产品, 如大数据服务和市场营销, 立志于为企业提供全方位的信息服务.</p>
				<p>企业全角色工作平台提供如下的功能服务.</p>
				<p>- 企业全角色覆盖: 企业所有角色都可以使用相应的功能如公司决策层, 销售, 技术, 行政, 财务等, 真正的一站式服务.</p>
				<p>- 数据纵横连接：平台提供的功能不是单独的个体, 它们相互关联,互相促进, 提供了完整的数据服务.</p>
				<p>- 决策分析: 平台专门为企业决策者提供了数据统计服务, 在员工, 项目, 客户, 成本分析上提供独特的视角.</p>
				<p>- 定制化:　可以为客户提供服务器专项，指定服务器，功能定制服务.</p>
				<p>青辉阳，追求卓越, 在企业级信息服务领域不断前行.</p>
	</div>
