
<div style="height: 90px; width: 100%; background-color: #1a263b">

</div>
<div class="content-section clearfix" ng-controller="buyCtrl"
	ng-init="init()">
	<div class="col-xs-8">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-sm-3 control-label">企业名称</label>
				<div class="col-sm-9">
					<p class="form-control-static">{{form.entName}}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">企业号</label>
				<div class="col-sm-9">
					<p class="form-control-static">{{form.entId}}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">企业员工数</label>
				<div class="col-sm-9">
					<p class="form-control-static" ng-show="form.productType == '创业型'">{{form.userCount}}人 (适用{{form.productType}}套餐)</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">当前登录员工</label>
				<div class="col-sm-9">
					<p class="form-control-static">{{form.name}}</p>
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-3 control-label">产品</label>
				<div class="col-sm-9">
					<p class="form-control-static">青辉阳工作平台</p>
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-3 control-label">套餐类型</label>
				<div class="col-sm-9">
					<label class="radio-inline"> <input type="radio"
						ng-model="form.productType" name="inlineRadioOptions"
						id="inlineRadio1" value="创业型" ng-disabled="form.productType != '创业型'"> 创业型(129元/月)
					</label> <label class="radio-inline"> <input type="radio"
						ng-model="form.productType" name="inlineRadioOptions"
						id="inlineRadio2" value="发展型" ng-disabled="form.productType != '发展型'"> 发展型(229元/月)
					</label> <label class="radio-inline"> <input type="radio"
						ng-model="form.productType" name="inlineRadioOptions"
						id="inlineRadio3" value="成熟型" ng-disabled="form.productType != '成熟型'"> 成熟型(399元/月)
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">购买时长(月)</label>
				<div class="col-sm-2">
					<select class="form-control" ng-model="form.period" ng-change="calTotal()">
						<option ng-repeat="x in period" value="{{x.value}}">{{x.label}}</option>
					</select>
				</div>
				<span class="col-sm-7 control-label input-error" style="text-align:left">{{periodError}}</span>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">价格</label>
				<div class="col-sm-9">
					<p class="form-control-static"
						style="font-size: 25px; color: #f7941d">¥{{form.total}}</p>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-4">
					<button class="btn btn-default" ng-click="cancel()">取消</button>
					<button type="submit" class="btn btn-primary" ng-click="pay()">去支付</button>
				</div>
			</div>
		</form>
	</div>
	<div class="col-xs-3 buy-section-right">
		<h2>常见问题</h2>
		<p>
			1. 购买后什么时候生效 ?
		</p>
		<p class="answer">
			答: 如果购买成功, 立即生效
		</p>
		<p>
			2. 是否可以在平台使用未到期时购买?
		</p>
		<p class="answer">
			答: 可以, 您剩余的平台试用期将相应顺延.(比如您还有一个月使用期, 再次购买半年, 那么您就有7个月的使用期限)
		</p>
		<p>
			3. 任何人都可以为企业购买吗?
		</p>
		<p class="answer">
			答: 不能, 只有企业员工才可以为本企业购买
		</p>
		<p>
			<a>4. 购买后公司员工数量变化会影响使用期限吗?<a>
		</p>
		<p class="answer">
			答: 不会, 只有您再次购买时才会影响
		</p>
		<p>
			<a>5. 购买后为什么看不到订单记录?<a>
		</p>
		<p class="answer">
			答: 购买后平台会显示是否成功, 但只有贵企业的管理员可以查看订单
		</p>
		
	</div>
</div>
<script type="text/javascript">
	var headerHeight = $('#header').height();
	var footerHeight = $('#footer').height()+46;
	var contentHeight = $('.content-section').height();
	var windowHeight = $(window).height();
	if((headerHeight+contentHeight+footerHeight)<windowHeight)
	$('.content-section').height(windowHeight-headerHeight-footerHeight);
</script>