
	<div style="height: 90px; width: 100%; background-color: #1a263b">

	</div>
	<div class="pay-section clearfix" ng-controller="completeCtrl" ng-init="init()">
		<div class="col-xs-4 pay-section-right">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<h2 style="color: #f7941d; text-align: center">订单详情</h2>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">订单号</label>
					<div class="col-sm-9">
						<p class="form-control-static">{{order.orderNumber}}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">企业名称</label>
					<div class="col-sm-9">
						<p class="form-control-static">{{form.entName}}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">企业号</label>
					<div class="col-sm-9">
						<p class="form-control-static">{{form.entId}}</p>
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-3 control-label">产品</label>
					<div class="col-sm-9">
						<p class="form-control-static">企易办公平台</p>
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-3 control-label">套餐类型</label>
					<p class="form-control-static">{{order.serviceDTO.name}}</p>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">购买时长</label>
					<p class="form-control-static">{{order.count}}个月</p>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">价格</label>
					<div class="col-sm-9">
						<p class="form-control-static"
							style="font-size: 25px; color: #f7941d">¥{{order.amount}}</p>
					</div>
				</div>
			</form>
		</div>
		<div class="col-xs-4 pay-section-mid">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<h2 style="color: #f7941d;"></h2>
				</div>

				<div class="form-group" ng-show="payStatus">
					<label><image src="/market/svg/success.svg"/> 支付成功
					</label>
				</div>
				<div class="form-group" ng-show="!payStatus">
					<label><image src="/market/svg/fail.svg"/> 支付失败
					</label>,右边查看常见支付失败原因
				</div>
				<div class="form-group" style="margin-top:30px">
					<button class="btn" style="width:150px" ng-click="continue()" ng-show="payStatus">继续购买</button>
					<button class="btn" style="width:150px" ng-click="repay()" ng-show="!payStatus">重新支付</button>
					<button class="btn btn-primary" style="width:150px" ng-click="done()">完成</button>
				</div>

			</form>
		</div>
		<div class="col-xs-3 pay-section-right">
			<h2>常见问题</h2>
			<p>
				1. 购买后什么时候生效 ?
			</p>
			<p class="answer">
				答: 如果购买成功, 立即生效
			</p>
			<p>
				2. 是否可以在平台使用未到期时购买?
			</p>
			<p class="answer">
				答: 可以, 您剩余的平台试用期将相应顺延.(比如您还有一个月使用期, 再次购买半年, 那么您就有7个月的使用期限)
			</p>
			<p>
				3. 任何人都可以为企业购买吗?
			</p>
			<p class="answer">
				答: 不能, 只有企业员工才可以为本企业购买
			</p>
			<p>
				<a>4. 购买后公司员工数量变化会影响使用期限吗?<a>
			</p>
			<p class="answer">
				答: 不会, 只有您再次购买时才会影响
			</p>
			<p>
				<a>5. 购买后为什么看不到订单记录?<a>
			</p>
			<p class="answer">
				答: 购买后平台会显示是否成功, 但只有贵企业的管理员可以查看订单
			</p>
		</div>
	</div>
