
	<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <!-- <li data-target="#myCarousel" data-slide-to="0" class="active"></li> -->
        <!-- <li data-target="#myCarousel" data-slide-to="1"></li> -->
    </ol>   
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="/market/image/login_bg02.jpg" alt="First slide">
            <div class="price-desc">
            	<h1 style="color:#fff">丰富的行业和实施经验, </h1>
            	<h2 style="color:#fff">提供专享服务</h2>
            	<a href="/index.html#/customize#customize"><button class="btn btn-lg btn-primary" style="width:200px">立即查看</button></a>
            </div>
        </div>
        <!-- 
        <div class="item">
            <img src="/market/image/login_bg02.jpg" alt="Second slide">
            <div class="carousel-caption"></div>
        </div>
         -->
    </div>
</div>
	<div class="g-bd" id="customize" ng-controller="customizeCtrl">
		<h2 class="m-navList-title">定制专项</h2>
		<h4 style="text-align:center">请发送邮件或致电详谈</h4>
		<ul class="m-navList" id="navList">
			<li class="itm"><a >
					<span class="front icon u-spr-nav-icons u-sprc-color "></span> <span
					class="back icon u-spr-nav-icons-solid u-sprc-color"></span> 
					<span>显示风格定制</span>
			</a></li>
			<li class="itm"><a
				href="#process">
					<span class="front icon u-spr-nav-icons u-sprc-server"></span> <span
					class="back icon u-spr-nav-icons-solid u-sprc-server"></span> <span>指定服务器</span>
			</a></li>
			<li class="itm"><a
				href="#project">
					<span class="front icon u-spr-nav-icons u-sprc-cloud"></span> <span
					class="back icon u-spr-nav-icons-solid u-sprc-cloud"></span> <span>服务器专享</span>
			</a></li>
			<li class="itm"><a
				href="#customer">
					<span class="front icon u-spr-nav-icons u-sprc-function"></span> <span
					class="back icon u-spr-nav-icons-solid u-sprc-function"></span> <span>功能定制</span>
			</a></li>

			<div class="shadow"></div>
		</ul>

	
<script type="text/javascript">
$(document).ready(function(){
	$('.carousel').carousel();
});	
		</script>
