
	<div style="height: 90px; width: 100%; background-color: #1a263b">

	</div>
	<div class="buy-section clearfix" ng-controller="findpwdCtrl" ng-init="init()">
		<div class="col-xs-8" style="padding-top:40px">
			
			<form class="form-horizontal" role="form" ng-show="verifyStep">
				<div class="form-group" style="padding-bottom:30px">
					<div class="col-xs-offset-3 col-xs-2 findpwd-step c_o"><i class="iconfont icon-one "></i><span >身份验证</span></div>
					<div class="col-xs-1 findpwd-step c_o"><i class="iconfont icon-jiantou "></i></div>
					<div class="col-xs-2 findpwd-step "><span ><i class="iconfont icon-two "></i>重置密码</span></div>
					<div class="col-xs-1 findpwd-step "><i class="iconfont icon-jiantou "></i></div>
					<div class="col-xs-2 findpwd-step "><i class="iconfont icon-three "></i><span >完成</span></div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-4 market-group">
						<input type="text" ng-model="form.user" class="form-control" placeholder="手机号码/电子邮箱" ng-change="validateUser()">
					</div>
					<span class="col-sm-5 control-label input-error" style="text-align:left">{{userError}}</span>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-2">
						<input type="password" ng-model="form.verificationCode" placeholder="验证码" ng-change="validateVerificationCode()" class="form-control">
					</div>
					<button type="button" class="col-sm-2 btn btn-primary ml10 wd140" get-code ng-disabled="userError||userError==undefined" ng-click="sendMSG()">获取验证码</button>
					<span class="col-sm-5 control-label input-error" style="text-align:left">{{verificationError}}</span>
					
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-2">
						<button type="button" class="btn btn-block" ng-click="cancel()">取消</button>
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-primary btn-block" ng-click="verify()">下一步</button>
					</div>
				</div>
			</form>
			<form class="form-horizontal" role="form" ng-show="resetStep">
				<div class="form-group" style="padding-bottom:30px">
					<div class="col-xs-2 findpwd-step "><i class="iconfont icon-one "></i><span >身份验证</span></div>
					<div class="col-xs-2 findpwd-step "><i class="iconfont icon-jiantou "></i></div>
					<div class="col-xs-2 findpwd-step c_o"><span ><i class="iconfont icon-two "></i>重置密码</span></div>
					<div class="col-xs-2 findpwd-step c_o"><i class="iconfont icon-jiantou "></i></div>
					<div class="col-xs-2 findpwd-step "><i class="iconfont icon-three "></i><span >完成</span></div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-4 market-group">
						<input type="password" ng-model="form.password" class="form-control" placeholder="输入重置密码" ng-change="validatePassword()">
					</div>
					<span class="col-sm-5 control-label input-error" style="text-align:left">{{passwordError}}</span>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-4 market-group">
						<input type="password" ng-model="form.repeatPassword" class="form-control" placeholder="再次输入重置密码" ng-change="validatePassword()">
					</div>
					<span class="col-sm-5 control-label input-error" style="text-align:left">{{repeatPasswordError}}</span>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-2">
						<button type="button" class="btn btn-block" ng-click="cancel()">取消</button>
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-primary btn-block" ng-click="complete()">下一步</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-xs-3 login-section-right">
			<h2 style="color:#fff">企易安全保护</h2>
			<h5 style="color:#fff">从此不在担心信息泄漏</h5>
			<image src="/market/svg/safe.svg"></image>
		</div>
	</div>
