<div id="footer" class="g-ft">
	<div class="wrapper">
		<div class="gutter">
			<div class="info">
				<ul class="contacts f-fl">
					<li>客服电话：18428396582</li>
					<li>客服邮箱：service@qinghuiyang.com</li>
					<li>商务合作：operation@qinghuiyang.com</li>
				</ul>
				<span class="record f-fr">成都青辉阳科技有限公司©2016 蜀ICP备17000416号</span>
			</div>
			<ul class="links evcat" data-evcat="home-foot">
				<li class="itm"><a ui-sref="aboutus">公司简介</a></li>
				<li class="itm"><a ui-sref="serviceagreement">服务协议</a></li>
				<li class="itm"><a ui-sref="privacy">隐私和法律声明</a></li>
			</ul>
		</div>
	</div>
</div>