<div id="footer" class="g-ft">
	<div class="wrapper">
		<div class="gutter">
			<div class="info">
				<ul class="contacts f-fl">
					<li>客服电话：400-888-8888</li>
					<li>客服邮箱：customer@qinghuiyang.com</li>
					<li>商务合作：operation@qinghuiyang.com</li>
				</ul>
				<span class="record f-fr">成都青辉阳科技有限公司©2016 川ICP备13025399号</span>
			</div>
			<ul class="links evcat" data-evcat="home-foot">
				<li class="itm"><a href="https://qiye.yixin.im/service.htm"
					target="_blank">服务协议</a></li>
				<li class="itm"><a href="https://qiye.yixin.im/about.htm"
					target="_blank" data-evact="to-about">公司简介</a></li>
			</ul>
		</div>
	</div>
</div>