
	<div style="height: 90px; width: 100%; background-color: #1a263b">

	</div>
	<div class="content-section clearfix" ng-controller="payTabCtrl" ng-init="init()">
	</div>
<script type="text/javascript">
	var headerHeight = $('#header').height();
	var footerHeight = $('#footer').height()+46;
	var contentHeight = $('.content-section').height();
	var windowHeight = $(window).height();
	if((headerHeight+contentHeight+footerHeight)<windowHeight)
	$('.content-section').height(windowHeight-headerHeight-footerHeight);
</script>