<div id="myCarousel" class="carousel slide">
	<!-- 轮播（Carousel）指标 -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
	</ol>
	<!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner">
		<div class="item active">
			<img src="./market/image/login_bg02.jpg" alt="First slide">
			<div class="price-desc">
				<h1 style="color: #fff">e之助企业全角色工作平台</h1>
				<h2 style="color: #fff">工作,管理更高效</h2>
				<button class="btn btn-lg btn-primary" style="width: 200px"
					onclick="javascript:window.open('/index.html#/register')">免费注册</button>
			</div>
		</div>
		<div class="item">
			<img src="./market/image/login_bg01.jpg" alt="Second slide">
			<div class="price-desc">
				<h1 style="color: #fff">第一次使用?</h1>
				<h2 style="color: #fff">先看看产品功能</h2>
				<button class="btn btn-lg btn-primary" style="width: 200px" onclick="javascript:document.getElementById('feature').scrollIntoView()">查看功能介绍</button>
			</div>
		</div>
	</div>
</div>
<div class="g-bd" id="feature" ng-controller="productCtrl">
	
	<h2 class="m-navList-title">功能介绍</h2>
	<ul class="m-navList" id="navList">
		<li class="itm"><a href="/index.html#/product#analysis"> <span
				class="front icon u-spr-nav-icons u-sprc-analysis "></span> <span
				class="back icon u-spr-nav-icons-solid u-sprc-analysis"></span> <span>决策分析</span>
		</a></li>
		<li class="itm"><a href="/index.html#/product#process"> <span
				class="front icon u-spr-nav-icons u-sprc-process"></span> <span
				class="back icon u-spr-nav-icons-solid u-sprc-process"></span> <span>审批流程</span>
		</a></li>
		<li class="itm"><a href="/index.html#/product#project"> <span
				class="front icon u-spr-nav-icons u-sprc-project"></span> <span
				class="back icon u-spr-nav-icons-solid u-sprc-project"></span> <span>项目管理</span>
		</a></li>
		<li class="itm"><a href="/index.html#/product#customer"> <span
				class="front icon u-spr-nav-icons u-sprc-customer"></span> <span
				class="back icon u-spr-nav-icons-solid u-sprc-customer"></span> <span>客户及销售</span>
		</a></li>
		<li class="itm"><a href="/index.html#/product#salary"> <span
				class="front icon u-spr-nav-icons u-sprc-salary"></span> <span
				class="back icon u-spr-nav-icons-solid u-sprc-salary"></span> <span>薪酬社保</span>
		</a></li>
		<li class="itm"><a href="/index.html#/product#recruit"> <span
				class="front icon u-spr-nav-icons u-sprc-recruit"></span> <span
				class="back icon u-spr-nav-icons-solid u-sprc-recruit"></span> <span>招聘</span>
		</a></li>
		<li class="itm"><a href="/index.html#/product#report"> <span
				class="front icon u-spr-nav-icons u-sprc-report"></span> <span
				class="back icon u-spr-nav-icons-solid u-sprc-report"></span> <span>日常报告</span>
		</a></li>
		<li class="itm"><a href="/index.html#/product#task"> <span
				class="front icon u-spr-nav-icons u-sprc-task"></span> <span
				class="back icon u-spr-nav-icons-solid u-sprc-task"></span> <span>任务</span>
		</a></li>
		<li class="itm"><a href="/index.html#/product#asset"> <span
				class="front icon u-spr-nav-icons u-sprc-asset"></span> <span
				class="back icon u-spr-nav-icons-solid u-sprc-asset"></span> <span>资产</span>
		</a></li>

		<div class="shadow"></div>
	</ul>
	<div class="sect-wrap">
		<div id="analysis" class="sect sect-analysis">
			<div class="col-xs-4 sect-detail">
				<h2>决策分析</h2>
				<p class="first">为决策者提供全面的数据分析！</p>
				<p>员工部门, 职位, 薪酬分析</p>
				<p>项目款项, 项目进度</p>
				<p>客户数量, 销售金额</p>
				<p>公司收入支出</p>
			</div>
			<div class="sect-img">
				<img src="./market/image/analysis.png" alt="决策分析">
			</div>
		</div>
	</div>
	<div class="sect-wrap sect-even">
		<div id="process" class="sect sect-process">
			<div class="col-xs-4 sect-detail">
				<div class="u-spr-sect-icons u-sprc-process"></div>
				<h2>审批流程</h2>
				<p class="first">更高效, 随时查看审批动态</p>
				<p>更全面的审批模板</p>
				<p>自定义流程满足企业定制化需求</p>
			</div>
			<div class="sect-img">
				<img src="./market/image/process.png" alt="审批流程">
			</div>
		</div>
	</div>
	<div class="sect-wrap">
		<div id="project" class="sect sect-process">
			<div class="col-xs-4 sect-detail">
				<div class="u-spr-sect-icons u-sprc-project"></div>
				<h2>项目管理</h2>
				<p class="first">项目成本, 进度一目了然</p>
				<p>进度看板</p>
				<p>成本分析</p>
				<p>任务跟踪</p>
				<p>文档管理</p>
			</div>
			<div class="sect-img">
				<img src="./market/image/project.png" alt="项目管理">
			</div>
		</div>
	</div>
	<div class="sect-wrap sect-even">
		<div id="customer" class="sect sect-process">
			<div class="col-xs-4 sect-detail">
				<div class="u-spr-sect-icons u-sprc-process"></div>
				<h2>客户及销售</h2>
				<p class="first">客户销售网络闭环</p>
				<p>客户日程活动追踪</p>
				<p>销售活动追踪, 合同管理</p>
				<p>营销, 成本, 收获</p>
				<p>销售目标制定与完成</p>
			</div>
			<div class="sect-img">
				<img src="./market/image/customer.png" alt="客户及销售">
			</div>
		</div>
	</div>
	<div class="sect-wrap">
		<div id="salary" class="sect sect-process">
			<div class="col-xs-4 sect-detail">
				<div class="u-spr-sect-icons u-sprc-project"></div>
				<h2>薪酬及社保</h2>
				<p class="first">社保, 工资全自动计算</p>
				<p>多种社保缴费模式</p>
				<p>全面的工资福利设定</p>
			</div>
			<div class="sect-img">
				<img src="./market/image/salary.png" alt="薪酬及社保">
			</div>
		</div>
	</div>
	<div class="sect-wrap sect-even">
		<div id="recruit" class="sect sect-process">
			<div class="col-xs-4 sect-detail">
				<div class="u-spr-sect-icons u-sprc-process"></div>
				<h2>招聘</h2>
				<p class="first">招聘活动全跟踪</p>
				<p>招聘计划</p>
				<p>招聘全流程</p>
				<p>简历库</p>
			</div>
			<div class="sect-img">
				<img src="./market/image/recruit.png" alt="招聘">
			</div>
		</div>
	</div>
	<div class="sect-wrap">
		<div id="report" class="sect sect-process">
			<div class="col-xs-4 sect-detail">
				<div class="u-spr-sect-icons u-sprc-project"></div>
				<h2>日常报告</h2>
				<p class="first">多种报告类型提交</p>
				<p>日报, 周报, 月报, 年报</p>
			</div>
			<div class="sect-img">
				<img src="./market/image/report.png" alt="日常报告">
			</div>
		</div>
	</div>
	<div class="sect-wrap sect-even">
		<div id="task" class="sect sect-process">
			<div class="col-xs-4 sect-detail">
				<div class="u-spr-sect-icons u-sprc-process"></div>
				<h2>任务</h2>
				<p class="first">任务分配与跟踪</p>
				<p>创建任务</p>
				<p>跟踪任务</p>
				<p>完成比例</p>
			</div>
			<div class="sect-img">
				<img src="./market/image/task.png" alt="任务">
			</div>
		</div>
	</div>
	<div class="sect-wrap">
		<div id="asset" class="sect sect-process">
			<div class="col-xs-4 sect-detail">
				<div class="u-spr-sect-icons u-sprc-project"></div>
				<h2>资产</h2>
				<p class="first">资产全方位管理</p>
				<p>资产库</p>
				<p>发放</p>
				<p>回收</p>
			</div>
			<div class="sect-img">
				<img src="./market/image/asset.png" alt="资产">
			</div>
		</div>
	</div>
	<h2 class="m-navList-title">行业最佳实践</h2>
	<ul class="m-navList" id="navList">
		<li class="itm" style="width:22%"><a> 
		<img src="./market/image/fangdichan.jpg"></img>
		<span style="display:block">房地产</span>
		</a></li>
		<li class="itm" style="width:22%"><a> 
		<img src="./market/image/jiaju.jpg"></img>
		<span style="display:block">家居</span>
		</a></li>
		<li class="itm" style="width:22%"><a> 
		<img src="./market/image/jiaoyu.jpg"></img>
		<span style="display:block">教育</span>
		</a></li>
		<li class="itm" style="width:22%"><a> 
		<img src="./market/image/jinrong.jpg"></img>
		<span style="display:block">金融</span>
		</a></li>
	</ul>
	<ul class="m-navList" id="navList">
		<li class="itm" style="width:22%"><a> 
		<img src="./market/image/keji.jpg"></img>
		<span style="display:block">科技</span>
		</a></li>
		<li class="itm" style="width:22%"><a> 
		<img src="./market/image/linshou.jpg"></img>
		<span style="display:block">零售</span>
		</a></li>
		<li class="itm" style="width:22%"><a> 
		<img src="./market/image/lvshi.jpg"></img>
		<span style="display:block">律师</span>
		</a></li>
		<li class="itm" style="width:22%"><a> 
		<img src="./market/image/zhizao.jpg"></img>
		<span style="display:block">制造</span>
		</a></li>
	</ul>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.carousel').carousel();
		});	
	
	</script>