
<div style="height: 90px; width: 100%; background-color: #1a263b">

</div>
<div class="content-section clearfix" style="text-align:center" ng-controller="qrcodeCtrl"
	ng-init="init()">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<h3 style="color: #f7941d;">请用微信扫描二维码支付, 完成支付后关闭该页面</h3>
		</div>
		<div id="code"></div>
		<div class="form-group">
			<button class="btn btn-primary" style="width:250px;margin-top:30px" onclick="javascript:window.close()">关闭</button>
		</div>
	</form>
</div>
<script type="text/javascript">
	var headerHeight = $('#header').height();
	var footerHeight = $('#footer').height()+46;
	var contentHeight = $('.content-section').height();
	var windowHeight = $(window).height();
	if((headerHeight+contentHeight+footerHeight)<windowHeight)
	$('.content-section').height(windowHeight-headerHeight-footerHeight);
</script>
