<div id="page-wrapper" ng-controller="dtprocessrzCtrl" ng-init="initFun()">
    <!--主要内容-->
    <div class="payetilebox">
        <div class="f_r mt5"><!--<a class="iconfont icon-fanhui f22" back-button title="返回"></a>--> <a class="iconfont icon-shuaxin f22 ml15" ng-click="init()" title="刷新"></a></div>
        <ul>
            <li class="active">offer</li>
        </ul>
    </div>
    <ol class="breadbox">
        <li>工作面板</li>
        <li>招聘管理</li>
        <li>招聘计划</li>
        <li class="active">offer</li>
    </ol>
    <div class="btnbox">
        <form class="f_r form-inline">
            <!--            <select class="form-control input-sm" ng-model="selectedproclass" ng-options="x.name for x in prosclasslist">
                            <option value="">全部负责人员</option>
                        </select>
                        <select class="form-control input-sm" ng-model="selectedproclass" ng-options="x.name for x in prosclasslist">
                            <option value="">全部状态</option>
                        </select>-->
            <span class="form-group-sm search-group">
                <input type="text" class="form-control wd180" ng-model="sltname" placeholder="搜索姓名">
                <span class="searchbtn"><i class="iconfont icon-sousuo f18"></i></span>
            </span>
        </form>
        <!--<button class="btn btn-primary btn-sm">进下轮</button>-->
        <!--<button class="btn btn-default btn-sm">待定</button>-->
        <!--<button class="btn btn-default btn-sm" ng-click="ruzhimodelFun()">入职</button>-->
        <button class="btn btn-default btn-sm" ng-click="zhuanyimodelFun()">转移</button>
    </div>
    <div class="nose-panel">
        <div class="nose-panel-body">
            <table class="table table-hover" cellspacing="0" cellpadding="0" width="100%;">
                <thead>
                <tr>
                    <th width="50" class="t_r"><input icheck type="checkbox" name="chkAll" ng-model="main.checkAll"></th>
                    <th>姓名</th>
                    <th width="100">联系电话</th>
                    <th width="150">E-mail</th>
                    <th width="100">查看简历</th>
                    <th width="90">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="t_r"><input icheck type="checkbox" value="{{data}}" name="chkList" ng-model="data.checked"></td>
                    <td>姜小文</td>
                    <td>13458639887</td>
                    <td>jammy@gieo.cn</td>
                    <td><button class="btn btn-default btn-xs h30" title="查看" ui-sref="sales.customerdtmain"><i class="iconfont icon-chakan f14"></i></button><button class="btn btn-default btn-xs ml5 h30" title="下载" ng-click="editstaff(data)"><i class="iconfont icon-xiazai f14"></i></button></td>
                    <td><button class="btn btn-default btn-xs h30" title="编辑" ng-click="editstaff(data)"><i class="iconfont icon-bianji f14"></i></button><button class="btn btn-danger ml5 btn-xs h30" title="删除" ng-click="delete(data)"><i class="iconfont icon-del f14"></i></button></td>
                </tr>
                <!--<tr ng-repeat="data in datalist | filter:sltname | startFrom: (thispages.pageNum-1) * thispages.pageSize | limitTo: thispages.pageSize">-->
                </tbody>
            </table>
        </div>
        <div class="nose-panel-footer cf bte">
            <pagination ng-show="thispages.total>thispages.pageSize" total-items="thispages.total"  items-per-page="thispages.pageSize" ng-model="thispages.pageNum" max-size="5"  class="pagination-sm yi-page m0 f_r" boundary-links="true"></pagination>
            <div class="g9">共 {{thispages.total}} 条数据</div>
        </div>
    </div>


    <!-- Footer -->
    <div ng-include="'modules/common/footer.html'"></div>
</div>

<!--淘汰-->
<script type="text/ng-template" id="taotaimodel.html">
    <div class="whitemodal">
        <div class="modal-header">
            <button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <div class="f16">淘汰理由</div>
        </div>
        <!--{{baseForm.$valid}}-->
        <form role="baseForm" name="baseForm" ng-submit="ok(baseForm.$valid)" novalidate="novalidate">
            <div class="modal-body">
                <table cellpadding="0" cellspacing="0" width="100%" class="line40td mt5">
                    <tr>
                        <td>
                            <input type="text" class="form-control" placeholder="输入淘汰原因">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white wd80" ng-click="cancel()">取消</button>
                <button type="submit" class="btn btn-primary wd80">确定</button>
            </div>
        </form>
    </div>
</script>

<!--转移-->
<script type="text/ng-template" id="zhuanyimodel.html">
    <div class="whitemodal">
        <div class="modal-header">
            <button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <div class="f16">转移</div>
        </div>
        <!--{{baseForm.$valid}}-->
        <form role="baseForm" name="baseForm" ng-submit="ok(baseForm.$valid)" novalidate="novalidate">
            <div class="modal-body">
                <table cellpadding="0" cellspacing="0" width="100%" class="line40td mt5">
                    <tr>
                        <td width="60">转移位置</td>
                        <td class="pl10">
                            <select class="form-control">
                                <option>选择转移位置</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white wd80" ng-click="cancel()">取消</button>
                <button type="submit" class="btn btn-primary wd80">确定</button>
            </div>
        </form>
    </div>
</script>
