<div id="page-wrapper" ng-controller="dtresumemsgCtrl" ng-init="initFun()">
    <!--主要内容-->
    <div class="payetilebox">
        <div class="f_r mt5"><!--<a class="iconfont icon-fanhui f22" back-button title="返回"></a>--> <a class="iconfont icon-shuaxin f22 ml15" ng-click="init()" title="刷新"></a></div>
        <ul>
            <li class="active">简历管理</li>
        </ul>
    </div>
    <ol class="breadbox">
        <li>工作面板</li>
        <li>招聘管理</li>
        <li>招聘计划</li>
        <li class="active">简历管理</li>
    </ol>
    <div class="btnbox">
        <form class="f_r form-inline">
            <span class="form-group-sm search-group">
                <input type="text" class="form-control wd180" ng-model="sltname" placeholder="搜索姓名">
                <span class="searchbtn"><i class="iconfont icon-sousuo f18"></i></span>
            </span>
        </form>
        <button class="btn btn-default btn-sm" ng-click="addmodelFun()">新增</button>
        <button class="btn btn-default btn-sm" ng-click="deleteAll()">删除</button>
        <button class="btn btn-primary btn-sm" ng-click="nextstep()">进入面试</button>
        <!--<button class="btn btn-default btn-sm">转移</button>-->

    </div>
    <div class="nose-panel">
        <div class="nose-panel-body">
            <table class="table table-hover" cellspacing="0" cellpadding="0" width="100%;">
                <thead>
                <tr>
                    <th width="50" class="t_r"><input icheck type="checkbox" name="chkAll" ng-model="main.checkAll"></th>
                    <th>简历名称</th>
                    <th width="100">联系电话</th>
                    <th width="150">E-mail</th>
                    <th width="100">查看简历</th>
                    <th width="90">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in datalist | filter:{'resumeName':sltname} | startFrom: (thispages.pageNum-1) * thispages.pageSize | limitTo: thispages.pageSize">
                    <td class="t_r"><input icheck type="checkbox" value="{{data}}" name="chkList" ng-model="data.checked"></td>
                    <td>{{data.resumeName}}</td>
                    <td>{{data.resumeMobileNo}}</td>
                    <td>{{data.resumeEmail}}</td>
                    <td><a class="btn btn-default btn-xs ml5 h30" title="下载" href="{{data.resumeUrl || '#'}}" target="_blank"><i class="iconfont icon-xiazai f14"></i></a></td>
                    <td><button class="btn btn-default btn-xs h30" title="编辑" ng-click="editFun(data)"><i class="iconfont icon-bianji f14"></i></button><button class="btn btn-danger ml5 btn-xs h30" title="删除" ng-click="delete(data)"><i class="iconfont icon-del f14"></i></button></td>
                </tr>
                <!--<tr ng-repeat="data in datalist | filter:sltname | startFrom: (thispages.pageNum-1) * thispages.pageSize | limitTo: thispages.pageSize">-->
                </tbody>
            </table>
        </div>
        <div class="nose-panel-footer cf bte">
            <pagination ng-show="thispages.total>thispages.pageSize" total-items="thispages.total"  items-per-page="thispages.pageSize" ng-model="thispages.pageNum" max-size="5"  class="pagination-sm yi-page m0 f_r" boundary-links="true"></pagination>
            <div class="g9">共 {{thispages.total || '0'}} 条数据</div>
        </div>
    </div>


    <!-- Footer -->
    <div ng-include="'modules/common/footer.html'"></div>
</div>

<!--模板-->
<script type="text/ng-template" id="addmodel.html">
    <div class="whitemodal">
        <div class="modal-header">
            <button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <div class="f16">{{thename}}简历</div>
        </div>
        <!--{{baseForm.$valid}}-->
        <form role="baseForm" name="baseForm" ng-submit="ok(baseForm.$valid)" novalidate="novalidate">
            <div class="modal-body">
                <table cellpadding="0" cellspacing="0" width="100%" class="line40td mt5">
                    <tr>
                        <td width="60">简历名称</td>
                        <td class="pl10">
                            <input type="text" class="form-control" ng-model="modalform.resumeName" placeholder="输入简历名称">
                        </td>
                    </tr>
                    <tr>
                        <td width="60">联系电话</td>
                        <td class="pl10">
                            <div class="nose-group" ng-class="{'has-error':baseForm.contactMobileNo.$dirty && baseForm.contactMobileNo.$invalid}">
                                <i class="iconfont icon-tishi f20 abs_r" ng-show="baseForm.contactMobileNo.$dirty && baseForm.contactMobileNo.$invalid" popover="请输入11位手机号" popover-placement="bottom" popover-trigger="mouseenter"></i>
                                <input type="text"  name="contactMobileNo" ng-model="modalform.resumeMobileNo"  multiple-email class="form-control" placeholder="输入联系人手机号码">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="60">E-mail</td>
                        <td class="pl10">
                            <div class="nose-group" ng-class="{'has-error':baseForm.personalEmail.$dirty && baseForm.personalEmail.$invalid}">
                                <i class="iconfont icon-tishi f20 abs_r" ng-show="baseForm.personalEmail.$dirty && baseForm.personalEmail.$invalid" popover="正确的邮箱地址" popover-placement="bottom" popover-trigger="mouseenter"></i>
                                <input type="text"  name="personalEmail" ng-model="modalform.resumeEmail"  multiple-email class="form-control" placeholder="输入电子邮箱">
                            </div>
                        </td>
                    </tr>
					<tr ng-show="modalform.resumeUrl">
                        <td width="60">简历</td>
                        <td class="pl10">
                            <a ng-href="{{modalform.resumeUrl}}">{{modalform.resumeName}}</a> <a class="red f12" ng-click="deleteResume()">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="60">
							 <div class="btn btn-default upheadbtn">
                                <input type="file" id="resumeFile"  ng-model="modalform.resumeUrl" nv-file-select uploader="resumeUploader"/>简历上传
                            </div>
						</td>
                        <td class="pl10">
                           
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white wd80" ng-click="cancel()">取消</button>
                <button type="submit" class="btn btn-primary wd80">确定</button>
            </div>
        </form>
    </div>
</script>
