<div id="page-wrapper" ng-controller="planlistCtrl" ng-init="initFun()">
    <!--主要内容-->
    <div class="payetilebox">
        <div class="f_r mt5"><!--<a class="iconfont icon-fanhui f22" back-button title="返回"></a>--> <a class="iconfont icon-shuaxin f22 ml15" ng-click="initFun()" title="刷新"></a></div>
        <ul>
            <li class="active">招聘计划</li>
        </ul>
    </div>
    <ol class="breadbox">
        <li>工作面板</li>
        <li>招聘管理</li>
        <li class="active">招聘计划</li>
    </ol>
    <div class="btnbox">
        <form class="f_r form-inline">
            <span selectdep options="'bm'" size="'sm'" myselected="orgList" class="wd190 f_l mr5" title="选择部门"></span>
           <!-- <select class="form-control input-sm dib" ng-init="selectedStatus=''" ng-model="selectedStatus" ng-options="x.val as x.name for x in projectStatusArr">
            </select>-->
            <span class="form-group-sm search-group">
                <input type="text" class="form-control wd180" ng-model="sltname" placeholder="搜索计划名称">
                <span class="searchbtn"><i class="iconfont icon-sousuo f18"></i></span>
            </span>
            <!--<span class="form-group-sm search-group">
                <input type="text" class="form-control wd180" ng-model="sltname" placeholder="搜索职位">
                <span class="searchbtn"><i class="iconfont icon-sousuo f18"></i></span>
            </span>-->
        </form>
        <button class="btn btn-default btn-sm" ng-click="addmodelFun()">新增计划</button>
        <!--<button class="btn btn-default btn-sm" ng-click="deleteAll()">删除</button>-->
    </div>
    <div class="nose-panel">
        <div class="nose-panel-body">
            <table class="table table-hover" cellspacing="0" cellpadding="0" width="100%;">
                <thead>
                <tr>
                    <!--<th width="50" class="t_r"><input icheck type="checkbox" name="chkAll" ng-model="main.checkAll"></th>-->
                    <th class="pl20">计划名称</th>
                    <th width="100">发起人员</th>
                    <th width="100">所属部门</th>
                    <th width="100">状态</th>
                    <th width="100">招聘职位</th>
                    <th width="100">期望到岗时间</th>
                    <th width="150">招聘要求</th>
                    <th width="125">操作</th>
                </tr>
                </thead>
                <tbody ng-repeat="data in datalist | filter:{'sponsor':orgList[0].text,'planName':sltname} | startFrom: (thispages.pageNum-1) * thispages.pageSize | limitTo: thispages.pageSize">
                <tr>
                    <td class="pl20">{{data.planName}}</td>
                    <td>{{data.sponsor.name}}</td>
                    <td>{{data.sponsor.orgList[0].name}}</td>
                    <td><span>{{data.planStatus || "----"}}</span></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><button class="btn btn-default btn-xs h30" title="添加职位" ng-click="addPositionFun(data)"><i class="iconfont icon-add f14"></i></button><button class="btn btn-default btn-xs ml5 h30" title="编辑" ng-click="editFun(data)"><i class="iconfont icon-bianji f14"></i></button><button class="btn btn-danger ml5 btn-xs h30" title="删除" ng-click="delete(data)"><i class="iconfont icon-del f14"></i></button></td>
                </tr>
                <tr ng-repeat="pttion in data.recruitPositionDTOList">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><a class="a_prime" ui-sref="planlist.dtplanlist({planName:data.planName,positionName:pttion.positionName,positionCount:pttion.positionCount})">{{pttion.positionName}} ({{pttion.positionCount}})</a></td>
                    <td>{{pttion.planOnboardDate}}</td>
                    <td>{{pttion.positionRequirement | characters:14 }}</td>
                    <td><button class="btn btn-default btn-xs h30" title="编辑" ng-click="editPositionFun(pttion,data)"><i class="iconfont icon-bianji f14"></i></button><button class="btn btn-danger ml5 btn-xs h30" title="删除" ng-click="deletePosition(pttion,data)"><i class="iconfont icon-del f14"></i></button></td>
                </tr>
                <tr ng-if="data.recruitPositionDTOList.length>0 && !$last"><td colspan="8" style="padding:0;height:0;border-bottom: #eee solid 4px;"></td></tr>
                <!--<tr ng-repeat="data in datalist | filter:sltname | startFrom: (thispages.pageNum-1) * thispages.pageSize | limitTo: thispages.pageSize">-->
                </tbody>
            </table>
        </div>
        <div class="nose-panel-footer cf bte">
            <pagination ng-show="thispages.total>thispages.pageSize" total-items="thispages.total"  items-per-page="thispages.pageSize" ng-model="thispages.pageNum" max-size="5"  class="pagination-sm yi-page m0 f_r" boundary-links="true"></pagination>
            <div class="g9">共 {{thispages.total || '0'}} 条数据</div>
        </div>
    </div>


    <!-- Footer -->
    <div ng-include="'modules/common/footer.html'"></div>
</div>

<!--模板-->
<script type="text/ng-template" id="addmodel.html">
    <div class="whitemodal">
        <div class="modal-header">
            <button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <div class="f16">{{thename}}招聘计划</div>
        </div>
        <!--{{baseForm.$valid}}-->
        <form role="baseForm" name="baseForm" ng-submit="ok(baseForm.$valid)" novalidate="novalidate">
            <div class="modal-body">
                <table cellpadding="0" cellspacing="0" width="100%" class="line40td mt5">
                    <tr>
                        <td width="60">招聘名称</td>
                        <td class="pl10">
                            <div class="nose-group"  ng-class="{'has-error':baseForm.planName.$dirty && baseForm.planName.$invalid}">
                                <i class="iconfont icon-tishi f20 abs_r" ng-show="baseForm.planName.$dirty && baseForm.planName.$error.required" popover="不能为空" popover-placement="bottom" popover-trigger="mouseenter"></i>
                                <i class="iconfont icon-tishi f20 abs_r" ng-show="baseForm.planName.$dirty && baseForm.planName.$error.maxlength" popover="不能超过20个字符" popover-placement="bottom" popover-trigger="mouseenter"></i>
                                <input type="text" class="form-control" name="planName" ng-model="modalform.planName"  placeholder="输入招聘名称" ng-maxlength="20" required />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>发起人员</td>
                        <td class="pl10">
                            <div selectdepyuan yuangong="1" myselected="modalform.sponsor" selectedallarr="modalform.sponsorarr"></div>
                        </td>
                    </tr>
                </table>
                <div showhid>
                    <table cellpadding="0" cellspacing="0" width="100%" class="line40td dropdown" style="display: none;">
                        <tr>
                            <td width="60">完成时间</td>
                            <td class="pl10">
                                <div class="qiyi-group line20td">
                                    <input type="datetime" name="startDate" class="form-control" date-time ng-model="modalform.planEndDate" view="date" min-view="date" format="yyyy-MM-dd"  auto-close="true">
                                    <span class="abs_r" ><i class="iconfont icon-rili" ></i></span>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="thename=='编辑'">
                            <td>计划状态</td>
                            <td class="pl10">
                                <select class="form-control" ng-model="modalform.planStatus">
                                    <option value="未完成">未完成</option>
                                    <option value="已完成">已完成</option>
                                    <option value="已取消">已取消</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <div class="pt10" style="padding-left: 70px;"><a class="clickbtn" title="展开/收起"><i class="fa fa-lg fa-angle-down"></i><span class="f12 g9 ml5">选填字段</span></a></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white wd80" ng-click="cancel()">取消</button>
                <button type="submit" class="btn btn-primary wd80">确定</button>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="addPosition.html">
    <div class="whitemodal">
        <div class="modal-header">
            <button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <div class="f16">{{thename}}招聘计划职位</div>
        </div>
        <!--{{baseForm.$valid}}-->
        <form role="baseForm" name="baseForm" ng-submit="ok(baseForm.$valid)" novalidate="novalidate">
            <div class="modal-body">
                <table cellpadding="0" cellspacing="0" width="100%" class="line40td mt5">
                    <tr>
                        <td width="60">职位名称</td>
                        <td class="pl10">
                            <div class="nose-group"  ng-class="{'has-error':baseForm.positionName.$dirty && baseForm.positionName.$invalid}">
                                <i class="iconfont icon-tishi f20 abs_r" ng-show="baseForm.positionName.$dirty && baseForm.positionName.$error.required" popover="不能为空" popover-placement="bottom" popover-trigger="mouseenter"></i>
                                <i class="iconfont icon-tishi f20 abs_r" ng-show="baseForm.positionName.$dirty && baseForm.positionName.$error.maxlength" popover="不能超过20个字符" popover-placement="bottom" popover-trigger="mouseenter"></i>
                                <input type="text" class="form-control" name="positionName" ng-model="modalform.positionName"  placeholder="输入职位名称" ng-maxlength="20" required />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>招聘人数</td>
                        <td class="pl10">
                            <input type="number" class="form-control" ng-model="modalform.positionCount" placeholder="输入招聘人数">
                        </td>
                    </tr>
                    <tr>
                        <td>到岗时间</td>
                        <td class="pl10">
                            <div class="qiyi-group line20td">
                                <input type="datetime" name="startDate" class="form-control" date-time ng-model="modalform.planOnboardDate" view="date" min-view="date" format="yyyy-MM-dd" placeholder="期望到岗时间" auto-close="true" required>
                                <span class="abs_r" ><i class="iconfont icon-rili" ></i></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">职位要求</td>
                        <td class="pl10">
                            <textarea class="form-control" rows="3" ng-model="modalform.positionRequirement" placeholder="输入职位要求"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">需求描述</td>
                        <td class="pl10">
                            <textarea class="form-control" rows="3" ng-model="modalform.positionDesc" placeholder="输入需求描述"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white wd80" ng-click="cancel()">取消</button>
                <button type="submit" class="btn btn-primary wd80">确定</button>
            </div>
        </form>
    </div>
</script>