<!DOCTYPE html>
<html lang="en" ng-app="qiyi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--页面标题-->
    <title page-title></title>
    <!--解决ie8 console 未定义的代码-->
    <script type="text/javascript">
        if (!window.console || !console.firebug) {
            var names = ["log", "debug", "info", "warn", "error", "assert", "dir", "dirxml", "group", "groupEnd", "time", "timeEnd", "count", "trace", "profile", "profileEnd"];

            window.console = {};
            for (var i = 0; i < names.length; ++i)
                window.console[names[i]] = function () {
                }
        }
    </script>
    <!-- Bootstrap and Fonts -->
    <link rel="stylesheet" href="plugins/ui-bootstrap/bootstrap.css">
    <link rel="stylesheet" href="fonts/font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/custom/iconfont.css">
    <!-- 动画css -->
    <link href="css/animate.css" rel="stylesheet">
    <!--nose css-->
    <link href="css/cjbase.pc.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet" />
    <link id="loadBefore" href="css/login.css" rel="stylesheet">
    <link href="css/my.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!--angular-->
    <!--<script src="plugins/jquery/jquery-2.1.1.min.js"></script>-->
    <script src="plugins/jquery/jquery1.12.0.min.js"></script>
    <!--<script src="plugins/jquery-ui/jquery-ui.js"></script>-->
    <!--<script src="plugins/angular/angular.min.js"></script>-->
    <script src="plugins/angular1.2.30/angular1.2.30.js"></script>
    <!--<script src="plugins/angular1.2.30/angular-loader.min.js"></script>-->
    <script src="plugins/ui-router/angular-ui-router.min.js"></script>
    <script src="plugins/oclazyload/dist/ocLazyLoad.min.js"></script>
    <!-- MetsiMenu -->
    <script src="plugins/metisMenu/jquery.metisMenu.js"></script>
    <!-- Peace JS -->
    <script src="plugins/pace/pace.min.js"></script>
    <!-- SlimScroll -->
    <script src="plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!--notify-->
    <link href="plugins/angular-notify/angular-notify.min.css" rel="stylesheet">
    <script src="plugins/angular-notify/angular-notify.min.js"></script>
    <!--datapicker-->
<!--    <link href="plugins/datapicker/angular-datapicker.css" rel="stylesheet">
    <script src="plugins/datapicker/angular-datepicker.js"></script>-->
    <!--iCheck-->
    <link href="plugins/iCheck/custom.css" rel="stylesheet">
    <script src="plugins/iCheck/icheck.min.js"></script>
    <!--xeditable-->
    <link href="plugins/xeditable/xeditable.css" rel="stylesheet">
    <script src="plugins/xeditable/xeditable.js"></script>
    <!--ngJsTree-->
    <link href="plugins/jsTree/style.css" rel="stylesheet">
    <script src="plugins/jsTree/jstree.js"></script>
    <script src="plugins/jsTree/ngJsTree.js"></script>
    <script src="plugins/echarts.common.min.js"></script>
    <!--angular-file-upload-->
    <script src="plugins/angular-file-upload/angular-file-upload.min.js"></script>
    <!--ngTags-->
    <!--<script src="http://cdn.bootcss.com/ng-tags-input/2.3.0/ng-tags-input.min.js"></script>-->
    <!--<link href="http://cdn.bootcss.com/ng-tags-input/2.3.0/ng-tags-input.min.css" rel="stylesheet" media="screen">-->
    <!--<script src="plugins/ngTags/ng-tags-input.min.js"></script>-->
    <!--<link href="plugins/ngTags/ng-tags-input.min.css" rel="stylesheet" media="screen">-->
    <!--<link href="plugins/ngTags/ng-tags-input.bootstrap.min.css" rel="stylesheet" media="screen">-->

    <!--<script src="https://www.jqwidgets.com/jquery-widgets-demo/jqwidgets/jqxtreegrid.js"></script>-->

    <!--treetable-->
<!--    <link href="plugins/jquery-treetable/jquery.treetable.css" rel="stylesheet">
    <link href="plugins/jquery-treetable/jquery.treetable.theme.default.css" rel="stylesheet">
    <script src="plugins/jquery-treetable/jquery.treetable.js"></script>
    <script src="plugins/jquery-treetable/angular-treetable.js"></script>-->

    <!--TreeGrid-->
<!--    <link href="plugins/TreeGrid/TreeGrid.css" rel="stylesheet">
    <script src="plugins/TreeGrid/TreeGrid-1.1.js"></script>-->


    <!-- angular程序脚本 -->
    <script src="js/app.js"></script>
    <script src="js/config.js"></script>
    <script src="js/services.js"></script>
    <script src="js/servicesRest.js"></script>
    <script src="js/filers.js"></script>
    <script src="js/route.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/interceptors.js"></script>
    <!--<script src="js/angular-md5.js"></script>-->

    <!--注意看，这里的路径和上面的bootstrap都在一个文件夹里-->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <!--<script src="js/es5-shim.min.js"></script>-->



    <script>
//        document.createElement('ui-view');
    </script>
</head>
<body ng-controller="MainCtrl as main" class="{{$state.current.data.specialClass}}" landing-scrollspy >
<div id="mask-loading" class="mask-loading" ng-if="loading" style="background-color: rgba(0, 0, 0, 0.17);">
    <div class="loading-icon"><img src="./images/loading.gif" alt=""></div>
</div>
<div class="mask-loading" ng-if="loading2" style="background-color: rgba(0, 0, 0, 0.17);">
    <div class="loading-icon"><img src="./images/loading.gif" alt=""></div>
</div>
<!-- Main view  -->
<div ui-view></div>

<!--demo-->
<!--<script src="modules/demo/ctrl/demoCtrl1.js"></script>-->
<!--<script src="modules/demo/ctrl/demoCtrl2.js"></script>-->
<!--<script src="modules/demo/init.js"></script>-->

<!--login/register-->
<script src="modules/login/ctrl/loginCtrl.js"></script>
<script src="modules/login/init.js"></script>



<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>

<!--staffmag 员工-->
<script src="modules/staffmsg/ctrl/staffmsgCtrl.js"></script>
<script src="modules/staffmsg/init.js"></script>

<!--enterprisemsg 组织结构-->
<!--<script src="modules/enterprisemsg/ctrl/enterprisemsgCtrl.js"></script>
<script src="modules/enterprisemsg/init.js"></script>-->

<!--structuremsg 组织结构-->
<script src="modules/structuremsg/ctrl/structuremsgCtrl.js"></script>
<script src="modules/structuremsg/init.js"></script>

<!--sysmsg 系统设置-->
<script src="modules/sysmsg/ctrl/sysmsgCtrl.js"></script>
<script src="modules/sysmsg/init.js"></script>

<!--processmsg 审批流程-->
<script src="modules/processmsg/ctrl/processmsgCtrl.js"></script>
<script src="modules/processmsg/init.js"></script>

<!--processAudit 审批流程-->
<!--<script src="modules/processAudit/ctrl/processAuditCtrl.js"></script>
<script src="modules/processAudit/init.js"></script>-->

<!--permissions 权限-->
<script src="modules/permissions/ctrl/permissionsCtrl.js"></script>
<script src="modules/permissions/init.js"></script>


<script src="js/directives.js"></script>
<!--ui.bootstrap-->
<script src="plugins/ui-bootstrap/bootstrap.js"></script>
<script src="plugins/ui-bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>

<!--report 工作报告-->
<script src="modules/report/ctrl/reportCtrl.js"></script>
<script src="modules/report/init.js"></script>

<!--task 工作任务-->
<script src="modules/task/ctrl/taskCtrl.js"></script>
<script src="modules/task/init.js"></script>

<!--analysis 决策分析-->
<script src="modules/analysis/ctrl/analysisCtrl.js"></script>
<script src="modules/analysis/init.js"></script>

<!--notice 公告-->
<script src="modules/notice/ctrl/noticeCtrl.js"></script>
<script src="modules/notice/init.js"></script>

<!--salarymsg 工资管理-->
<script src="modules/salarymsg/ctrl/salarymsgCtrl.js"></script>
<script src="modules/salarymsg/init.js"></script>

<!--clockingIn 考勤-->
<script src="modules/clockingIn/ctrl/clockingInCtrl.js"></script>
<script src="modules/clockingIn/init.js"></script>

<!--my 个人中心-->
<script src="modules/my/ctrl/myCtrl.js"></script>
<script src="modules/my/init.js"></script>

<!--project 项目-->
<script src="modules/project/ctrl/projectmsgCtrl.js"></script>
<script src="modules/project/ctrl/projectmyCtrl.js"></script>
<script src="modules/project/ctrl/projectmodelCtrl.js"></script>
<script src="modules/project/init.js"></script>

<!--sales 销售-->
<script src="modules/sales/ctrl/customermsgCtrl.js"></script>
<script src="modules/sales/ctrl/PtcustomermsgCtrl.js"></script>
<script src="modules/sales/ctrl/assetsmsgCtrl.js"></script>
<script src="modules/sales/ctrl/assetsmpmsgCtrl.js"></script>
<script src="modules/sales/ctrl/activityCtrl.js"></script>
<script src="modules/sales/init.js"></script>

<!--recruitment 招聘-->
<!--<script src="modules/recruitment/ctrl/planCtrl.js"></script>-->
<!--<script src="modules/recruitment/ctrl/dtplanCtrl.js"></script>-->
<!--<script src="modules/recruitment/init.js"></script>-->

<!--assets 资产-->
<script src="modules/assets/ctrl/assetsCtrl.js"></script>
<script src="modules/assets/init.js"></script>

<!--tree-grid-->
<!--<link href="plugins/tree-grid/treeGrid.css" rel="stylesheet">
<script src="plugins/tree-grid/tree-grid-directive.js"></script>-->
</body>
</html>