<style>
    .towntabbox02 ul{ padding-left: 20px;}
</style>
<div id="page-wrapper" ng-controller="projectmsgdtmainlistCtrl" ng-init="initFun()">
    <!--主要内容-->
    <div class="payetilebox">
        <div class="f_r mt5"><!--<a class="iconfont icon-fanhui f22" back-button title="返回"></a>--> <a class="iconfont icon-shuaxin f22 ml15" ng-click="init()" title="刷新"></a></div>
        <ul>
            <li class="active">项目详情</li>
        </ul>
    </div>
    <ol class="breadbox">
        <li>工作面板</li>
        <li>项目管理</li>
        <li class="active">项目详情</li>
    </ol>
    <div class="btnbox">
        <button class="btn btn-default btn-sm" ng-click="adddynamic()">发布动态</button>
    </div>
    <div class="nose-panel">
        <div class="nose-panel-body">
            <div class="p20">
                <table class="line30td f12" cellspacing="0" cellpadding="0" width="100%;">
                    <tr>
                    	<td width="250"><span class="g9">项目名称：</span>{{datadt.projectName}}</td>
                    	<td width="150"><span class="g9">客户名称：</span>{{datadt.customerName}}</td>
                        <td width="200"><span class="g9">开始时间：</span>{{datadt.startDate}}</td>
                        <td colspan="2">
	                        <span class="g9 f_l a_prime">进度：</span>
	                        <progressbar value="datadt.projectProgress" type="warning" class="progress-striped progress-small active pct50 f_l" style="margin-top:5px"></progressbar>
	                        <span class="f_l ml5">{{datadt.projectProgress}}%</span>
	                        <span class="ml10"><i class="iconfont icon-bianji poi" ng-click="editProgress()"></i></span>
                        </td>
                    </tr>
                    <tr>
                    	<td><span class="g9">项目编号：</span>{{datadt.projectId}}</td>
                    	<td><span class="g9">负责人员：</span><span>{{datadt.userDTO.name}}</span></td>
                        <td><span class="g9">结束时间：</span>{{datadt.endDate}}</td>
                        <td width="80px"><span class="g9 a_prime">健康度：</span></td>
                        <td>
                        <span class="bdrs50" ng-show="datadt.projectHealth=='严重'" style="display:inline-block;width:30px;height:30px;background-color:red"></span>
                        <span class="bdrs50" ng-show="datadt.projectHealth=='轻度'" style="display:inline-block;width:30px;height:30px;background-color:orange"></span>
                        <span class="bdrs50" ng-show="datadt.projectHealth=='正常'" style="display:inline-block;width:30px;height:30px;background-color:green"></span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="iconfont icon-bianji poi" ng-click="editHealth()"></i></td>
                    </tr>
                </table>
                <div class="project-mgsdtbox mt20">
                    <table class="line30td f12" cellspacing="0" cellpadding="0" width="100%;">
                        <tr>
                            <td width="60" valign="top">项目阶段</td>
                            <td>
                                <ul class="project-mgsdt">
                                    <li ng-class="{'sucs':data.status=='已完成'}" ng-repeat="data in datadt.projectStageDTOList | orderBy:['seqNo']">
                                        <div class="titlebox"><span class="sign bdrs50 poi" ng-click="updateStageStatus(data)"></span></div>
                                        <div class="textbox">
                                            <div>{{data.projectStageName}}({{data.status}})</div>
                                            <div class="g9 f12">{{data.userDTO.name}}</div>
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="mt10">
                <div tabset class="towntabbox01 towntabbox02">
                    <div tab>
                        <div tab-heading>任务列表({{datadt.projectTaskDTOList.length}})</div>
                        <div class="ind-medo_com" slim-scroll box-height="300">
                            <div class="btnbox">
                                <button class="btn btn-default btn-sm" ng-click="addTask()">新增</button>
                                <button class="btn btn-default btn-sm" ng-click="deleteAllTask()">删除</button>
                            </div>
                            <table class="table table-hover bbe" cellspacing="0" cellpadding="0" width="100%;">
                                <thead>
                                <tr>
                                    <th width="50" class="t_r"><input icheck type="checkbox" name="chkAll" ng-model="main.checkAll"></th>
                                    <th>任务名称</th>
                                    <th width="100">所在项目阶段</th>
                                    <th width="160">开始/结束时间</th>
                                    <th width="100">实施人列表</th>
                                    <th width="100">任务状态</th>
                                    <th width="90">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="data in datadt.projectTaskDTOList">
                                    <td class="t_r"><input icheck type="checkbox" value="{{data}}" name="chkList" ng-model="data.checked"></td>
                                    <td>{{data.taskName}}</td>
                                    <td>{{data.taskName}}</td>
                                    <td>{{data.startDate}} ~ {{data.endDate}}</td>
                                    <td>{{data.toUserDTO.name}}</td>
                                    <td>{{data.status}}</td>
                                    <td><button class="btn btn-default btn-xs h30" title="编辑" ng-click="editTask(data)"><i class="iconfont icon-bianji f14"></i></button><button class="btn btn-danger ml5 btn-xs h30" title="删除" ng-click="deleteTask(data)"><i class="iconfont icon-del f14"></i></button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div tab>
                        <div tab-heading>文档列表({{datadt.projectDocumentDTOList.length}})</div>
                        <div class="ind-medo_com" slim-scroll box-height="300">
                            <div class="btnbox">
                                <button class="btn btn-default btn-sm" ng-click="addDocument()">新增</button>
                                <button class="btn btn-default btn-sm" ng-click="deleteAllDocument()">删除</button>
                            </div>
                            <table class="table table-hover bbe" cellspacing="0" cellpadding="0" width="100%;">
                                <thead>
                                <tr>
                                    <th width="50" class="t_r"><input icheck type="checkbox" name="chkAll" ng-model="main.checkAll"></th>
                                    <th>文档名称</th>
                                    <th width="100">上传人员</th>
                                    <!--<th width="100">项目阶段</th>-->
                                    <th width="90">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="data in datadt.projectDocumentDTOList">
                                    <td class="t_r"><input icheck type="checkbox" value="{{data}}" name="chkList" ng-model="data.checked"></td>
                                    <td>{{data.documentName}}</td>
                                    <td>{{data.userDTO.name}}</td>
                                    <!--<td>测试</td>-->
                                    <td><a target="_blank" href="{{data.documentUrl}}" class="btn btn-default btn-xs h30" title="下载"><i class="iconfont icon-xiazai f14"></i></a><button class="btn btn-danger ml5 btn-xs h30" title="删除" ng-click="deleteDocument(data)"><i class="iconfont icon-del f14"></i></button></td>
                                </tr>
                                <!--<tr ng-repeat="data in datalist | filter:sltname | startFrom: (thispages.pageNum-1) * thispages.pageSize | limitTo: thispages.pageSize">-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--<div tab>
                        <div tab-heading>报销列表({{inquiryHandData.length}})</div>
                        <div class="ind-medo_com" slim-scroll box-height="300">
                            <div class="btnbox">
                                <button class="btn btn-default btn-sm" ng-click="addmodelFun()">新增</button>
                                <button class="btn btn-default btn-sm" ng-click="addmodelFun()">删除</button>
                            </div>
                            <table class="table table-hover bbe" cellspacing="0" cellpadding="0" width="100%;">
                                <thead>
                                <tr>
                                    <th width="50" class="t_r"><input icheck type="checkbox" name="chkAll" ng-model="main.checkAll"></th>
                                    <th>报销事项</th>
                                    <th width="100">报销人员</th>
                                    <th width="100">报销金额</th>
                                    <th width="100">报销状态</th>
                                    <th width="90">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="t_r"><input icheck type="checkbox" value="{{data}}" name="chkList" ng-model="data.checked"></td>
                                    <td>用户体验设计相关文档</td>
                                    <td><span class="orange">张小凡</span></td>
                                    <td>￥6350.00</td>
                                    <td>待处理</td>
                                    <td><button class="btn btn-default btn-xs h30" title="编辑" ng-click="editstaff(data)"><i class="iconfont icon-bianji f14"></i></button><button class="btn btn-danger ml5 btn-xs h30" title="删除" ng-click="delete(data)"><i class="iconfont icon-del f14"></i></button></td>
                                </tr>
                                &lt;!&ndash;<tr ng-repeat="data in datalist | filter:sltname | startFrom: (thispages.pageNum-1) * thispages.pageSize | limitTo: thispages.pageSize">&ndash;&gt;
                                </tbody>
                            </table>
                        </div>
                    </div>-->
                    <div tab>
                        <div tab-heading>阶段负责人({{datadt.projectStageDTOList.length}})</div>
                        <div class="ind-medo_com" slim-scroll box-height="300">
                            <!--<div class="btnbox">
                                <button class="btn btn-default btn-sm" ng-click="addmodelFun()">新增</button>
                                <button class="btn btn-default btn-sm" ng-click="addmodelFun()">删除</button>
                            </div>-->
                            <table class="table table-hover bbe" cellspacing="0" cellpadding="0" width="100%;">
                                <thead>
                                <tr>
                                    <!--<th width="50" class="t_r"><input icheck type="checkbox" name="chkAll" ng-model="main.checkAll"></th>-->
                                    <th class="pl20">阶段名称</th>
                                    <th width="100">阶段负责人</th>
                                    <th width="100">手机号码</th>
                                    <th width="100">E-mail</th>
                                    <th width="100">部门</th>
                                    <!-- <th width="100">职位</th> -->
                                    <th width="60">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="data in datadt.projectStageDTOList">
                                    <!--<td class="t_r"><input icheck type="checkbox" value="{{data}}" name="chkList" ng-model="data.checked"></td>-->
                                    <td class="pl20">{{data.projectStageName}}</td>
                                    <td>{{data.userDTO.name}}</td>
                                    <td>{{data.userDTO.personalPhone || '---'}}</td>
                                    <td>{{data.userDTO.personalEmail || '---'}}</td>
                                    <td>{{data.userDTO.orgList[0].name || '---'}}</td>
                                    <!-- <td>{{data.userDTO.roleList[0].name || '---'}}</td> -->
                                    <td><button class="btn btn-default btn-xs h30" title="编辑" ng-click="editStage(data)"><i class="iconfont icon-bianji f14"></i></button></td>
                                </tr>
                                <!--<tr ng-repeat="data in datalist | filter:sltname | startFrom: (thispages.pageNum-1) * thispages.pageSize | limitTo: thispages.pageSize">-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div tab>
                        <div tab-heading>参与人员({{datadt.projectUserDTOList.length}})</div>
                        <div class="ind-medo_com" slim-scroll box-height="300">
                            <div class="btnbox">
                                <button class="btn btn-default btn-sm" ng-click="addUserProject()">新增</button>
                                <button class="btn btn-default btn-sm" ng-click="deleteAllUserProject()">删除</button>
                            </div>
                            <table class="table table-hover bbe" cellspacing="0" cellpadding="0" width="100%;">
                                <thead>
                                <tr>
                                    <th width="50" class="t_r"><input icheck type="checkbox" name="chkAll" ng-model="main.checkAll"></th>
                                    <th>姓名</th>
                                    <th width="100">手机号码</th>
                                    <th width="100">E-mail</th>
                                    <th width="100">部门</th>
                                    <!-- <th width="100">职位</th> -->
                                    <th width="60">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="data in datadt.projectUserDTOList">
                                    <td class="t_r"><input icheck type="checkbox" value="{{data}}" name="chkList" ng-model="data.checked"></td>
                                    <td>{{data.name}}</td>
                                    <td>{{data.personalPhone || '---'}}</td>
                                    <td>{{data.personalEmail || '---'}}</td>
                                    <td>{{data.orgList[0].name || '---'}}</td>
                                    <!-- <td>{{data.roleList[0].name || '---'}}</td> -->
                                    <td><button class="btn btn-danger btn-xs h30" title="删除" ng-click="deleteUserProject(data)"><i class="iconfont icon-del f14"></i></button></td>
                                </tr>
                                <!--<tr ng-repeat="data in datalist | filter:sltname | startFrom: (thispages.pageNum-1) * thispages.pageSize | limitTo: thispages.pageSize">-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div tab>
                        <div tab-heading>动态({{datadt.projectCommentDTOList.length}})</div>
                        <div class="ind-medo_com" slim-scroll box-height="300">
                            <table class="bbe" width="100%" cellpadding="0" cellspacing="0">
                                <tr class="poi" ng-repeat="data in datadt.projectCommentDTOList">
                                    <td width="70" valign="top">
                                        <div class="imgheader head-sm" style="padding-left: 20px;">
                                            <span class="bdrs50" style="width: 50px; height: 50px;"><img src="{{data.userDTO.photoUrl || './images/headportrait02.jpg'}}" width="100%" alt=""></span>
                                        </div>
                                    </td>
                                    <td class="pl15 pr15">
                                        <div class="ovh">{{data.userDTO.name}}  /  {{data.orgList[0].name}}  /  {{data.commentTime}}</div>
                                        <div class="g9 f12 mt10">{{data.comment}}</div>
                                        <div class="f12 mt10" ng-show="false"><span class="g9">附件</span><span class="ml5">市场数据报表.rar</span></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="nose-panel-footer cf bte">
            <pagination ng-show="thispages.total>thispages.pageSize" total-items="thispages.total"  items-per-page="thispages.pageSize" ng-model="thispages.pageNum" max-size="5"  class="pagination-sm yi-page m0 f_r" boundary-links="true"></pagination>
            <div class="g9">共 {{thispages.total || '0'}} 条数据</div>
        </div>
    </div>


    <!-- Footer -->
    <div ng-include="'modules/common/footer.html'"></div>
</div>

<!--任务-->
<script type="text/ng-template" id="addTask.html">
    <div class="whitemodal">
        <div class="modal-header">
            <button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <div class="f16">{{thename}}任务</div>
        </div>
        <!--{{baseForm.$valid}}-->
        <form role="baseForm" name="baseForm" ng-submit="ok(baseForm.$valid)" novalidate="novalidate">
            <div class="modal-body">
                <table cellpadding="0" cellspacing="0" width="100%" class="line40td mt5">
                    <tr>
                        <td width="60">选择阶段</td>
                        <td class="pl10">
                            <select class="form-control" ng-model="modalform.projectStageName" ng-options="x.projectStageName as x.projectStageName for x in thisStage">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="60">任务名称</td>
                        <td class="pl10">
                            <input type="text" class="form-control" ng-model="modalform.taskName" placeholder="输入任务名称">
                        </td>
                    </tr>
                    <tr>
                        <td width="60">分配任务</td>
                        <td class="pl10">
                            <div selectdepyuan yuangong="1" myselected="modalform.mytask" selectedallarr="modalform.taskall"></div>
                        </td>
                    </tr>
                    <tr>
                        <td width="60">任务周期</td>
                        <td class="pl10">
                            <div class="qiyi-group line20td f_l" style="width: 210px;">
                                <input type="datetime" name="startDate" class="form-control" date-time ng-model="modalform.startDate" view="date" min-view="date" format="yyyy-MM-dd"  auto-close="true" placeholder="选择开始时间">
                                <span class="abs_r" ><i class="iconfont icon-rili" ></i></span>
                            </div>
                            <div class="qiyi-group line20td f_l ml10" style="width: 209px;">
                                <input type="datetime" name="startDate" class="form-control" date-time ng-model="modalform.endDate" view="date" min-view="date" format="yyyy-MM-dd"  auto-close="true" placeholder="选择结束时间">
                                <span class="abs_r" ><i class="iconfont icon-rili" ></i></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="60" valign="top">任务描述</td>
                        <td class="pl10">
                            <div class="nose-group" ng-class="{'has-error':baseForm.content.$dirty && baseForm.content.$invalid}">
                                <i class="iconfont icon-tishi f20 abs_r" ng-show="baseForm.content.$dirty && baseForm.content.$invalid" popover="输入任务描述文字" popover-placement="bottom" popover-trigger="mouseenter"></i>
                                <i class="iconfont icon-tishi f20 abs_r" ng-show="baseForm.content.$dirty && baseForm.content.$error.maxlength" popover="不大于100字符" popover-placement="bottom" popover-trigger="mouseenter"></i>
                                <textarea class="form-control" rows="4" name="content" placeholder="输入任务描述文字，不大于100字" ng-maxlength="100" ng-model="modalform.description" required></textarea>
                            </div>

                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white wd80" ng-click="cancel()">取消</button>
                <button type="submit" class="btn btn-primary wd80">确定</button>
            </div>
        </form>
    </div>
</script>
<!--文档-->
<script type="text/ng-template" id="addDocument.html">
    <div class="whitemodal">
        <div class="modal-header">
            <button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <div class="f16">{{thename}}文档</div>
        </div>
        <!--{{baseForm.$valid}}-->
        <form role="baseForm" name="baseForm" ng-submit="ok(baseForm.$valid)" novalidate="novalidate">
            <div class="modal-body">
                <table cellpadding="0" cellspacing="0" width="100%" class="line40td mt5">
                    <tr ng-show="modalform.documentUrl">
                        <td width="60">文档名称</td>
                        <td class="pl10">
                            <a ng-href="{{modalform.documentUrl}}">{{modalform.documentName}}</a> <a class="red f12" ng-click="deleteDocument()">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="60" valign="top">
							<div class="btn btn-default upheadbtn dib">
                                <input type="file" id="projectFile" nv-file-select accept="image/*" uploader="htUploader"/>上传文档
                            </div>
						</td>
                        <td class="pl10">
                            
                        </td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white wd80" ng-click="cancel()">取消</button>
                <button type="submit" class="btn btn-primary wd80">确定</button>
            </div>
        </form>
    </div>
</script>
<!--阶段-->
<script type="text/ng-template" id="addStage.html">
    <div class="whitemodal">
        <div class="modal-header">
            <button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <div class="f16">设置阶段负责人</div>
        </div>
        <!--{{baseForm.$valid}}-->
        <form role="baseForm" name="baseForm" ng-submit="ok(baseForm.$valid)" novalidate="novalidate">
            <div class="modal-body">
                <table cellpadding="0" cellspacing="0" width="100%" class="line40td mt5">
                    <tr>
                        <td><div selectdepyuan yuangong="1" myselected="modalform.userDTO" selectedallarr="modalform.userDTOall"></div></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white wd80" ng-click="cancel()">取消</button>
                <button type="submit" class="btn btn-primary wd80">确定</button>
            </div>
        </form>
    </div>
</script>
<!--参与人员-->
<script type="text/ng-template" id="addUserProject.html">
    <div class="whitemodal">
        <div class="modal-header">
            <button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <div class="f16">设置参与人员</div>
        </div>
        <!--{{baseForm.$valid}}-->
        <form role="baseForm" name="baseForm" ng-submit="ok(baseForm.$valid)" novalidate="novalidate">
            <div class="modal-body">
                <table cellpadding="0" cellspacing="0" width="100%" class="line40td mt5">
                    <tr>
                        <td><div selectdepyuan yuangong="1" myselected="modalform.userDTO" selectedallarr="modalform.userDTOall"></div></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white wd80" ng-click="cancel()">取消</button>
                <button type="submit" class="btn btn-primary wd80">确定</button>
            </div>
        </form>
    </div>
</script>
<!--发布动态-->
<script type="text/ng-template" id="adddynamic.html">
    <div class="whitemodal">
        <div class="modal-header">
            <button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <div class="f16">发布动态</div>
        </div>
        <!--{{baseForm.$valid}}-->
        <form role="baseForm" name="baseForm" ng-submit="ok(baseForm.$valid)" novalidate="novalidate">
            <div class="modal-body">
                <table cellpadding="0" cellspacing="0" width="100%" class="line40td mt5">
                    <tr>
                        <td >
                            <div class="nose-group" ng-class="{'has-error':baseForm.content.$dirty && baseForm.content.$invalid}">
                                <i class="iconfont icon-tishi f20 abs_r" ng-show="baseForm.content.$dirty && baseForm.content.$invalid" popover="输入动态" popover-placement="bottom" popover-trigger="mouseenter"></i>
                                <i class="iconfont icon-tishi f20 abs_r" ng-show="baseForm.content.$dirty && baseForm.content.$error.maxlength" popover="不大于100字符" popover-placement="bottom" popover-trigger="mouseenter"></i>
                                <textarea class="form-control" rows="6" name="content" placeholder="说点什么（如项目进度等），不大于100字" ng-maxlength="100" ng-model="modalform.comment" required></textarea>
                            </div>

                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
               
                <button type="button" class="btn btn-white wd80" ng-click="cancel()">取消</button>
                <button type="submit" class="btn btn-primary wd80">确定</button>
            </div>
        </form>
    </div>
</script>

<!--修改项目进度-->
<script type="text/ng-template" id="editprogress.html">
    <div class="whitemodal">
        <div class="modal-header">
            <button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <div class="f16">修改项目进度</div>
        </div>
        <!--{{baseForm.$valid}}-->
        <form role="baseForm" name="baseForm" ng-submit="ok(baseForm.$valid)" novalidate="novalidate">
            <div class="modal-body">
                <table cellpadding="0" cellspacing="0" width="100%" class="line40td mt5">
                    <tr>
                        <td >
							<div class="col-xs-4 t_r">
								项目进度:
							</div>
                            <div class="nose-group col-xs-4">
                                <input type="number" name="progress" class="form-control" placeholder="项目进度, 输入整数" ng-model="progress" required></input>
                            </div>
							<div class="col-xs-4 t_l">
								%
							</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
               
                <button type="button" class="btn btn-white wd80" ng-click="cancel()">取消</button>
                <button type="submit" class="btn btn-primary wd80">确定</button>
            </div>
        </form>
    </div>
</script>
<!--修改项目健康度-->
<script type="text/ng-template" id="edithealth.html">
    <div class="whitemodal">
        <div class="modal-header">
            <button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <div class="f16">修改项目健康度</div>
        </div>
        <!--{{baseForm.$valid}}-->
        <form role="baseForm" name="baseForm" ng-submit="ok(baseForm.$valid)" novalidate="novalidate">
            <div class="modal-body">
                <table cellpadding="0" cellspacing="0" width="100%" class="line40td mt5">
                    <tr>
                        <td >
							<div class="col-xs-4 t_r">
								项目健康度:
							</div>
                            <div class="nose-group col-xs-4">
                                <select class="form-control" ng-model="health" ng-options="healthItem.value as healthItem.label for healthItem in healthList">
									<option value="">请选择健康度</option>
								</select>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
               
                <button type="button" class="btn btn-white wd80" ng-click="cancel()">取消</button>
                <button type="submit" class="btn btn-primary wd80">确定</button>
            </div>
        </form>
    </div>
</script>