<div id="page-wrapper" ng-controller="assetsviewCtrl" ng-init="initFun()">
    <!--主要内容-->
    <div class="payetilebox">
        <div class="f_r mt5"><!--<a class="iconfont icon-fanhui f22" back-button title="返回"></a>--> <a class="iconfont icon-shuaxin f22 ml15" ng-click="init()" title="刷新"></a></div>
        <ul>
            <li class="active">资产详情</li>
        </ul>
    </div>
    <ol class="breadbox">
        <li>工作面板</li>
        <li>资产管理</li>
        <li>资产库</li>
        <li class="active">资产详情</li>
    </ol>
    <div class="p20">
        编号：006
        <span class="ml20">类别：{{datadt.assetType}}</span>
        <span class="ml20">名称：{{datadt.assetName}} </span>
        <span class="ml20">型号：{{datadt.assetModel}}</span>
        <span class="ml20">当前状态：<span class="orange">{{datadt.assetType}}</span></span>
    </div>
    <div class="nose-panel bte">
        <div class="nose-panel-body">
            <table class="table bbe table-hover" cellspacing="0" cellpadding="0" width="100%;">
                <thead>
                <tr>
                    <th class="pl20">操作日期</th>
                    <th width="100">使用人员</th>
                    <th width="100">操作人员</th>
                    <th width="80">记录</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in datadt.assetHistoryList">
                    <td class="pl20">{{data.actionDate}}</td>
                    <td>{{data.userDTO.name}}</td>
                    <td>王晓松</td>
                    <td>{{data.actionType}}</td>
                </tr>
                <!--<tr ng-repeat="data in datalist | filter:sltname | startFrom: (thispages.pageNum-1) * thispages.pageSize | limitTo: thispages.pageSize">-->
                </tbody>
            </table>
        </div>
        <!--<div class="nose-panel-footer cf bte">
            <pagination ng-show="thispages.total>thispages.pageSize" total-items="thispages.total"  items-per-page="thispages.pageSize" ng-model="thispages.pageNum" max-size="5"  class="pagination-sm yi-page m0 f_r" boundary-links="true"></pagination>
            <div class="g9">共 {{thispages.total}} 条数据</div>
        </div>-->
    </div>


    <!-- Footer -->
    <div ng-include="'modules/common/footer.html'"></div>
</div>