<div id="page-wrapper" ng-controller="assetslistCtrl" ng-init="initFun()">
    <!--主要内容-->
    <div class="payetilebox">
        <div class="f_r mt5"><!--<a class="iconfont icon-fanhui f22" back-button title="返回"></a>--> <a class="iconfont icon-shuaxin f22 ml15" ng-click="init()" title="刷新"></a></div>
        <ul>
            <li class="active">资产库</li>
        </ul>
    </div>
    <ol class="breadbox">
        <li>工作面板</li>
        <li>资产管理</li>
        <li class="active">资产库</li>
    </ol>
    <div class="btnbox">
        <form class="f_r form-inline">
            <select class="form-control input-sm" ng-model="selectclass" ng-options="x.name as x.name for x in listClass">
                <option value="">全部类型</option>
            </select>
            <select class="form-control input-sm" ng-init="selectstate=''" ng-model="selectstate" ng-options="x.val as x.name for x in statelist">
            </select>
            <span class="form-group-sm search-group">
                <input type="text" class="form-control wd180" ng-model="sltname" placeholder="搜索关键词">
                <span class="searchbtn"><i class="iconfont icon-sousuo f18"></i></span>
            </span>
        </form>
        <button class="btn btn-default btn-sm" ng-click="addmodelFun()">新增资产</button>
        <!--<button class="btn btn-default btn-sm" ng-click="deleteAll()">删除</button>-->
    </div>
    <div class="nose-panel">
        <div class="nose-panel-body">
            <table class="table table-hover" cellspacing="0" cellpadding="0" width="100%;">
                <thead>
                <tr>
                    <th class="pl15">资产编号</th>
                    <th width="100">类别</th>
                    <th width="100">名称</th>
                    <th width="100">型号</th>
                    <th width="100">价格</th>
                    <th width="100">购买日期</th>
                    <th width="100">状态</th>
                    <th width="125">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in datalist | filter:{'userDTO':ygselected[0].name,'customerLevel':selectedStatus,'customerName':sltname} | startFrom: (thispages.pageNum-1) * thispages.pageSize | limitTo: thispages.pageSize">
                    <td class="pl15">{{data.id}}</td>
                    <td>{{data.assetType}}</td>
                    <td>{{data.assetName}}</td>
                    <td>{{data.assetModel}}</td>
                    <td>￥5623.00</td>
                    <td>2016-10-31</td>
                    <td>
                        <span class="orange">姜小文</span>
                        <!--未分配-->
                        <!--<span class="g9">已报损</span>-->
                    </td>
                    <td><button class="btn btn-default btn-xs h30" title="查看" ui-sref="assets.assetsview({'data':data})"><i class="iconfont icon-chakan f14"></i></button><button class="btn btn-default btn-xs ml5 h30" title="编辑" ng-click="editFun(data)"><i class="iconfont icon-bianji f14"></i></button><button class="btn btn-danger ml5 btn-xs h30" title="删除" ng-click="delete(data)"><i class="iconfont icon-del f14"></i></button></td>
                </tr>
                <!--<tr ng-repeat="data in datalist | filter:sltname | startFrom: (thispages.pageNum-1) * thispages.pageSize | limitTo: thispages.pageSize">-->
                </tbody>
            </table>
        </div>
        <div class="nose-panel-footer cf bte">
            <pagination ng-show="thispages.total>thispages.pageSize" total-items="thispages.total"  items-per-page="thispages.pageSize" ng-model="thispages.pageNum" max-size="5"  class="pagination-sm yi-page m0 f_r" boundary-links="true"></pagination>
            <div class="g9">共 {{thispages.total}} 条数据</div>
        </div>
    </div>


    <!-- Footer -->
    <div ng-include="'modules/common/footer.html'"></div>
</div>

<!--模板-->
<script type="text/ng-template" id="addmodel.html">
    <div class="whitemodal">
        <div class="modal-header">
            <button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <div class="f16">{{thename}}资产</div>
        </div>
        <!--{{baseForm.$valid}}-->
        <form role="baseForm" name="baseForm" ng-submit="ok(baseForm.$valid)" novalidate="novalidate">
            <div class="modal-body">
                <table cellpadding="0" cellspacing="0" width="100%" class="line40td mt5">
                    <tr>
                        <td width="40">类型</td>
                        <td class="pl10">
                            <select class="form-control input-sm" ng-model="modalform.assetType" ng-options="x.name as x.name for x in listClass">
                                <option value="">选择类型</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>编号</td>
                        <td class="pl10">
                            <input type="text" class="form-control" ng-model="modalform.id" placeholder="输入资产编号">
                        </td>
                    </tr>
                    <tr>
                        <td>名称</td>
                        <td class="pl10">
                            <input type="text" class="form-control" ng-model="modalform.assetName" placeholder="输入资产名称">
                        </td>
                    </tr>
                    <tr>
                        <td>型号</td>
                        <td class="pl10">
                            <input type="text" class="form-control" ng-model="modalform.assetModel" placeholder="输入资产型号">
                        </td>
                    </tr>
                    <tr>
                        <td>价格</td>
                        <td class="pl10">
                            <input type="text" class="form-control" ng-model="modalform.xx" placeholder="输入价格(元)">
                        </td>
                    </tr>
                    <tr>
                        <td>日期</td>
                        <td class="pl10">
                            <div class="form-inline">
                                <div class="qiyi-group dib line20td">
                                    <input type="datetime" name="startDate" class="form-control" date-time ng-model="modalform.startDate" view="date" min-view="date" format="yyyy-MM-dd"  auto-close="true">
                                    <span class="abs_r" ><i class="iconfont icon-rili" ></i></span>
                                </div>
                                <input type="text" class="form-control dib ml5" ng-model="modalform.selectclass"  style="width: 243px;" placeholder="服务年限">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">描述</td>
                        <td class="pl10">
                            <textarea class="form-control" ng-model="modalform.xxx"  rows="3" placeholder="输入资产描述"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white wd80" ng-click="cancel()">取消</button>
                <button type="submit" class="btn btn-primary wd80">确定</button>
            </div>
        </form>
    </div>
</script>
