<div id="page-wrapper" ng-controller="clockingInviewCtrl" ng-init="init()">
    <!--主要内容-->
    <div class="payetilebox">
        <div class="f_r mt5"><!--<a class="iconfont icon-fanhui f22" back-button title="返回"></a>--> <a class="iconfont icon-shuaxin f22 ml15" ng-click="init()" title="刷新"></a></div>
        <ul>
            <li class="active">{{yearMonth.attendanceYear}}年{{yearMonth.attendanceMonth}}月出勤记录</li>
        </ul>
    </div>
    <ol class="breadbox">
        <li>工作面板</li>
        <li>考勤管理</li>
        <li>我的考勤</li>
        <li class="active">个人出勤记录</li>
    </ol>
    <div class="btnbox">
        <button class="btn btn-default btn-sm" ui-sref="clockingIn.my">返回</button>
    </div>
    <div class="nose-panel">
        <div class="nose-panel-body">
            <table class="table table-hover" cellspacing="0" cellpadding="0" width="100%;">
                <thead>
                <tr>
                    <th><span class="pl15">姓名</span></th>
                    <th width="100">年-月-日</th>
                    <th width="100">星期</th>
                    <th width="100">签到时间</th>
                    <th width="100">签退时间</th>
                    <th width="100">状态</th>
                    <!--<th width="100">早退</th>-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in attendanceslist">
                    <td><span class="pl15">{{data.userDTO.name}}</span></td>
                    <td>{{data.attendanceYear}}-{{data.attendanceMonth}}-{{data.attendanceDay}}</td>
                    <td>
                    <span ng-if="data.weekDay==0">星期天</span>
                    <span ng-if="data.weekDay==1">星期六</span>
                    <span ng-if="data.weekDay>1">星期{{data.weekDay}}</span>
                    </td>
                    <td ng-if="data.inHour==0 && data.inMinute==0">无</td>
                    <td ng-if="data.inHour!=0 || data.inMinute!=0">{{data.inHour}}:{{data.inMinute}}</td>
                    <td ng-if="data.outHour==0 && data.outMinute==0">无</td>
                    <td ng-if="data.outHour!=0 || data.outMinute!=0">{{data.outHour}}:{{data.outMinute}}</td>
                    <td><span>{{data.result}}</span></td>
                    <!--<td><span class="red">00:07</span></td>-->
                </tr>
                </tbody>
            </table>
        </div>
        <!--<div class="nose-panel-footer cf bte">
            <pagination ng-show="thispages.total>thispages.pageSize" total-items="thispages.total"  items-per-page="thispages.pageSize" ng-model="thispages.pageNum" max-size="5"  class="pagination-sm yi-page m0 f_r" boundary-links="true"></pagination>
            <div class="g9">共 {{thispages.total || '0'}} 条数据</div>
        </div>-->
    </div>


    <!-- Footer -->
    <div ng-include="'modules/common/footer.html'"></div>
</div>

<!--工资单明细-->
<script type="text/ng-template" id="s_issueDetail.html">
    <div class="whitemodal">
        <div class="modal-header">
            <button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <div class="f16">{{thisname}}部门</div>
        </div>
        <!--{{baseForm.$valid}}-->
        <form role="baseForm" name="baseForm"  ng-submit="ok(baseForm.$valid)" novalidate="novalidate">
            <div class="modal-body bte">
                <div>
                    <div class="mt15">
                        <span class="f16">建造师</span>
                        <span class="label label-sm label-primary ml5">未定薪</span>
                        <span class="label label label-success ml5">已定薪</span>
                    </div>
                    <table cellpadding="0" cellspacing="0" width="80%" class="line40td mt5">
                        <tr>
                            <td width="100" class="f16 pr10 t_r"><input type="text" class="form-control" value="15000,00"></td>
                            <td width="60" class="f12 g9">总收入</td>
                            <td class="f16 pr10 t_r">15000,00</td>
                            <td width="60" class="g9">上级部门</td>
                        </tr>
                        <tr>
                            <td class="f16 pr10 t_r">10000,00</td>
                            <td width="60" class="f12 g9">到账金额</td>
                            <td class="f16 pr10 t_r">&nbsp;</td>
                            <td width="60" class="g9">&nbsp;</td>
                        </tr>
                    </table>
                    <div class="salary_line01"><span>收入明细页</span></div>
                    <table cellpadding="0" cellspacing="0" width="80%" class="line40td">
                        <tr>
                            <td  width="100" class="f16 pr10 t_r">5000,00</td>
                            <td width="60" class="f12 g9">基本工资</td>
                            <td class="f16 pr10 t_r">300,00</td>
                            <td width="60" class="g9">岗位补贴</td>
                        </tr>
                        <tr>
                            <td class="f16 pr10 t_r">600,00</td>
                            <td width="60" class="f12 g9">交通补助</td>
                            <td class="f16 pr10 t_r">&nbsp;</td>
                            <td width="60" class="g9">&nbsp;</td>
                        </tr>
                    </table>
                    <div class="salary_line01"><span>收入明细页</span></div>
                    <table cellpadding="0" cellspacing="0" width="80%" class="line40td">
                        <tr>
                            <td width="100" class="f16 pr10 t_r">600,00</td>
                            <td width="60" class="f12 g9">公积金</td>
                            <td class="f16 pr10 t_r">180</td>
                            <td width="60" class="g9">失业保险</td>
                        </tr>
                        <tr>
                            <td class="f16 pr10 t_r">300,00</td>
                            <td width="60" class="f12 g9">迟到</td>
                            <td class="f16 pr10 t_r">300,00</td>
                            <td width="60" class="g9">养老保险</td>
                        </tr>

                    </table>
                </div>
                <div class="dn">
                    <div class="mt15">
                        <span class="f16">建造师</span>
                        <span class="label label-sm label-primary ml5">未定薪</span>
                        <span class="label label label-success ml5">已定薪</span>
                    </div>
                    <table cellpadding="0" cellspacing="0" width="80%" class="line40td mt5">
                        <tr>
                            <td width="100" class="f16 pr10 t_r">15000,00</td>
                            <td width="60" class="f12 g9">总收入</td>
                            <td class="f16 pr10 t_r">15000,00</td>
                            <td width="60" class="g9">上级部门</td>
                        </tr>
                        <tr>
                            <td class="f16 pr10 t_r">10000,00</td>
                            <td width="60" class="f12 g9">到账金额</td>
                            <td class="f16 pr10 t_r">&nbsp;</td>
                            <td width="60" class="g9">&nbsp;</td>
                        </tr>
                    </table>
                    <div class="salary_line01"><span>收入明细页</span></div>
                    <table cellpadding="0" cellspacing="0" width="80%" class="line40td">
                        <tr>
                            <td  width="100" class="f16 pr10 t_r">5000,00</td>
                            <td width="60" class="f12 g9">基本工资</td>
                            <td class="f16 pr10 t_r">300,00</td>
                            <td width="60" class="g9">岗位补贴</td>
                        </tr>
                        <tr>
                            <td class="f16 pr10 t_r">600,00</td>
                            <td width="60" class="f12 g9">交通补助</td>
                            <td class="f16 pr10 t_r">&nbsp;</td>
                            <td width="60" class="g9">&nbsp;</td>
                        </tr>
                    </table>
                    <div class="salary_line01"><span>收入明细页</span></div>
                    <table cellpadding="0" cellspacing="0" width="80%" class="line40td">
                        <tr>
                            <td width="100" class="f16 pr10 t_r">600,00</td>
                            <td width="60" class="f12 g9">公积金</td>
                            <td class="f16 pr10 t_r">180</td>
                            <td width="60" class="g9">失业保险</td>
                        </tr>
                        <tr>
                            <td class="f16 pr10 t_r">300,00</td>
                            <td width="60" class="f12 g9">迟到</td>
                            <td class="f16 pr10 t_r">300,00</td>
                            <td width="60" class="g9">养老保险</td>
                        </tr>

                    </table>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </form>
    </div>
</script>