<div class="topnav cf" ng-controller="headerCtrl">
    <div class="{{$state.current.data.widthClass}}" ng-init="inithdFun()">
        <ul class="rightbox">
            <li class="search-group">
                <input type="text" class="form-control wd220 bdrs20" placeholder="搜索同事" ng-model="searchText" ngenter="searchFun()">
                <span ng-click="searchFun()" class="searchbtn"><i class="iconfont icon-sousuo f18"></i></span>
            </li>
            <li class="dropdown ml15 mr15" collapse-h options="collapsehset">
                <a class="dropdown-toggle count-info" id="infobtn">
                    <i class="iconfont icon-tixing"></i> <span class="badge badge-primary">8</span>
                </a>
                <!--消息提醒-->
                <div class="topinfo-com ">
                    <div class="headbox">
                        <span class="f16">消息</span>
                        <button type="button" class="close g9 cancel"><span class=" fa fa-sign-out"></span></button>
                    </div>
                    <div class="combox">
                        <ul>
                            <li>
                                <a>
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td width="16" valign="top"><i class="iconfont icon-tixing orange"></i></td>
                                            <td class="pl10 f12">用户消息列表未读样式默认显示两行鼠标移入出现删除图标，多余请用...</td>
                                            <td width="16" class="pl10"><i class="iconfont icon-close f12"></i></td>
                                        </tr>
                                    </table>
                                </a>
                            </li>
                            <li class="g9 nothover">
                                <a>
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td width="16" valign="top"><i class="iconfont icon-tixing"></i></td>
                                            <td class="pl10 f12">用户消息列表未读样式默认显示两行鼠标移入出现删除图标，多余请用...</td>
                                            <td width="16" class="pl10"><i class="iconfont icon-close f12"></i></td>
                                        </tr>
                                    </table>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td width="16" valign="top"><i class="iconfont icon-tixing orange"></i></td>
                                            <td class="pl10 f12">用户消息列表未读样式默认显示两行鼠标移入出现删除图标，多余请用...</td>
                                            <td width="16" class="pl10"><i class="iconfont icon-close f12"></i></td>
                                        </tr>
                                    </table>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="usrbox">
                <div class="imgbox bdrs50 f_l"><img src="./images/headportrait02.jpg" alt=""></div>
                <div class="dropdown pull-right ml10 mt10" dropdown>
                    <span dropdown-toggle>{{userinfoall.name || '暂无'}} <span class="caret"></span></span>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="my.set">个人中心</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="logout()">退出系统</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="leftbox">
            <span  class="logo"><img src="./images/logo.png" height="26" alt=""></span>
            <span class="ml20 mr20 line2 mt5"></span>
            <span class="f20">{{companyinfo.name}}</span>
        </div>
    </div>
</div>
<!--主菜单-->
<div class="topmenu whitew f16">
    <div class="{{$state.current.data.widthClass}}">
        <a ui-sref-active="active" ui-sref="index"><i class="iconfont icon-gongzuotai mr5"></i>工作面板</a>
        <a ui-sref-active="active" ui-sref="sysmsg.info" accessId="A001-001||A001-002">系统设置</a>
        <a ui-sref-active="active" ui-sref="structuremsg.list" accessId="A001-001">组织结构</a>
        <a ui-sref-active="active" ui-sref="staffmsg.searchlist">员工管理</a>
        <!--<a ui-sref-active="active" ui-sref="">审批流程</a>-->
        <a ui-sref-active="active" ui-sref="processmsg.mypcs">审批流程</a>
        <a ui-sref-active="active" ui-sref="permissions.list" accessId="A001-003">职务权限</a>
        <a ui-sref-active="active" ui-sref="report.sendlist">工作报告</a>
        <a ui-sref-active="active" ui-sref="task.sendlist">任务分配</a>
        <a ui-sref-active="active" ui-sref="analysis.list">决策分析</a>
        <a ui-sref-active="active" ui-sref="notice.list">公告管理</a>
        <a ui-sref-active="active" ui-sref="clockingIn.list">考勤管理</a>
        <a ui-sref-active="active" ui-sref="salarymsg.list">工资管理</a>
        <a ui-sref-active="active" ui-sref="">项目管理</a>
        <a ui-sref-active="active" ui-sref="">销售管理</a>
        <a ui-sref-active="active" ui-sref="">招聘</a>
        <a ui-sref-active="active" ui-sref="">资产</a>
    </div>
</div>
