<div class="topnav cf" ng-controller="headerCtrl">
    <div class="{{$state.current.data.widthClass}}" ng-init="inithdFun()">
        <ul class="rightbox">
            <li class="search-group">
                <input type="text" class="form-control wd220 bdrs20" placeholder="搜索同事" ng-model="searchText" ngenter="searchFun()">
                <span ng-click="searchFun()" class="searchbtn"><i class="iconfont icon-sousuo f18"></i></span>
            </li>
            <li class="dropdown ml15 mr15" collapse-h options="collapsehset">
                <a class="dropdown-toggle count-info" id="infobtn">
                    <i class="iconfont icon-tixing"></i> <span class="badge badge-primary" ng-if="unreadCount>0">{{unreadCount}}</span>
                </a>
                <!--消息提醒-->
                <div class="topinfo-com ">
                    <div class="headbox">
                        <span class="f16">消息</span>
                        <button type="button" class="close g9 cancel"><span class=" fa fa-sign-out"></span></button>
                    </div>
                    <div class="combox">
                        <ul>
                            <li ng-repeat="note in notes">
                                <a>
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td width="16" valign="top"><i class="iconfont icon-tixing" ng-class="{'UNREAD': 'orange'}[note.noteStatus]"></i></td>
                                            <td class="pl10 f12" ng-click="markRead(note)">{{note.content}}</td>
                                            <td width="16" class="pl10"><i ng-click="deleteNote(note,$index)" class="iconfont icon-close f12"></i></td>
                                        </tr>
                                    </table>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="usrbox">
                <div class="imgbox bdrs50 f_l"><img src="{{userinfoall.photoUrl||'./images/headportrait02.jpg'}}" alt=""></div>
                <div class="dropdown pull-right ml10 mt10" dropdown>
                    <span dropdown-toggle>{{userinfoall.name || '暂无'}} <span class="caret"></span></span>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="my.set">个人中心</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="logout()">退出系统</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="leftbox">
            <span  class="logo"><img src="./images/logo.png" height="26" alt=""></span>
            <span class="ml20 mr20 line2 mt5"></span>
            <span class="f20">{{companyinfo.name}}</span>
        </div>
    </div>
</div>
<!--主菜单-->
<div class="topmenu whitew f16">
    <div class="{{$state.current.data.widthClass}}">
        <a ui-sref-active="active" ui-sref="index"><i class="iconfont icon-gongzuotai mr5"></i>面板</a>
        <a ng-class="{active:$state.includes('sysmsg')}" ui-sref="sysmsg.info" accessId="A001-001||A001-002"><i class="iconfont icon-shezhi mr5"></i>设置</a>
        <a ng-class="{active:$state.includes('structuremsg')}" ui-sref="structuremsg.list" accessId="A001-001"><i class="iconfont icon-zuzhi mr5"></i>组织</a>
        <a ng-class="{active:$state.includes('staffmsg')}" ui-sref="staffmsg.searchlist"><i class="iconfont icon-zichankupsd mr5"></i>员工</a>
        <!--<a ng-class="{active:$state.includes('sysmsg')}" ui-sref="">审批流程</a>-->
        <a ng-class="{active:$state.includes('processmsg')}" ui-sref="processmsg.mypcs"><i class="iconfont icon-wodeshenpi mr5"></i>审批</a>
        <a ng-class="{active:$state.includes('permissions')}" ui-sref="permissions.list" accessId="A001-003"><i class="iconfont icon-peizhi mr5"></i>权限</a>

        <a ng-class="{active:$state.includes('report')}" ui-sref="report.sendlist"><i class="iconfont icon-baogao mr5"></i>报告</a>
        <a ng-class="{active:$state.includes('task')}" ui-sref="task.sendlist"><i class="iconfont icon-wodeshenqing mr5"></i>任务</a>
        <a ng-class="{active:$state.includes('analysis')}" ui-sref="analysis.list"><i class="iconfont icon-juece mr5"></i>决策</a><!--  accessId="A016-001" -->

        <a ng-class="{active:$state.includes('notice')}" ui-sref="notice.list"><i class="iconfont icon-gonggao mr5"></i>公告</a>
        <!--<a ng-class="{active:$state.includes('salarymsg')}" ui-sref="salarymsg.list"><i class="iconfont icon-gongzi mr5"></i>工资</a>
        <a ng-class="{active:$state.includes('project')}" ui-sref="project.msglist"><i class="iconfont icon-canyuxiangmupsd mr5"></i>项目</a>
        <a ng-class="{active:$state.includes('sales')}" ui-sref="sales.customerlist"><i class="iconfont icon-xiaoshoumubiaopsd mr5"></i>销售</a>
        <a ng-class="{active:$state.includes('recruitment')}" ui-sref="recruitment.planlist({'type':0})"><i class="iconfont icon-zhaopinguochengpsd mr5"></i>招聘</a>
        <a ng-class="{active:$state.includes('assets')}" ui-sref="assets.assetslist({'type':0})"><i class="iconfont icon-zichan mr5"></i>资产</a>-->
        <div class="dropdown pull-left" dropdown="">
            <a dropdown-toggle="" aria-haspopup="true" aria-expanded="false"><i class="iconfont icon-more f20"></i></a>
            <ul class="dropdown-menu" role="menu">
                <li><a ng-class="{active:$state.includes('clockingIn')}" ui-sref="clockingIn.list"><i class="iconfont icon-kaoqing mr5"></i>考勤</a></li>
                <li><a ng-class="{active:$state.includes('salarymsg')}" ui-sref="salarymsg.list"><i class="iconfont icon-gongzi mr5"></i>工资</a></li>
                <li><a ng-class="{active:$state.includes('project')}" ui-sref="project.msglist"><i class="iconfont icon-canyuxiangmupsd mr5"></i>项目</a></li>
                <li><a ng-class="{active:$state.includes('sales')}" ui-sref="sales.customerlist"><i class="iconfont icon-xiaoshoumubiaopsd mr5"></i>销售</a></li>
                <li><a ng-class="{active:$state.includes('recruitment')}" ui-sref="recruitment.planlist({'type':0})"><i class="iconfont icon-zhaopinguochengpsd mr5"></i>招聘</a></li>
                <li><a ng-class="{active:$state.includes('assets')}" ui-sref="assets.assetslist({'type':0})"><i class="iconfont icon-zichan mr5"></i>资产</a></li>
            </ul>
        </div>
        <!--<a><i class="iconfont icon-more"></i></a>-->
    </div>
</div>
