<div id="page-wrapper" ng-controller="addpcsCtrl"  ng-init="initFun()">
    <!--主要内容-->
    <div class="payetilebox">
        <div class="f_r mt5"><!--<a class="iconfont icon-fanhui f22" back-button title="返回"></a>--> <a class="iconfont icon-shuaxin f22 ml15" reload-route title="刷新"></a></div>
        <ul>
            <li class="active">新建流程</li>
        </ul>
    </div>
    <ol class="breadbox">
        <li>工作面板</li>
        <li>审批流程</li>
        <li class="active">新建流程</li>
    </ol>
    <div class="nose-panel">
        <div class="p30 pb10 addpcs-config">
            <div class="pct60  f12">
                <div class="cf mb10">
                    <div class="col-xs-2 t_r pt7 g9">选择流程类型</div>
                    <div class="col-xs-10 form-inline">
                        <button class="btn btn-default mr5" ng-repeat="data in prosclasslist" ng-model="$parent.pcsclass" btn-radio="'{{data.name}}'">{{data.name}}</button>
                    </div>

                </div>
                <div class="cf mb10" ng-show="pcsclass">
                    <div class="col-xs-2 t_r pt7 g9">选择流程</div>
                    <div class="col-xs-10 form-inline">
                        <!--{{processmodal}}-->
                        <button class="btn btn-default mr5" ng-repeat="ModelData in processList | filter:{'processType':pcsclass}" ng-model="$parent.processmodal" btn-radio="{{ModelData}}">{{ModelData.name}}</button>
                    </div>
                </div>
                <div class="cf mb10" ng-show="processmodal">
                    <div class="col-xs-2 t_r pt7 g9">流程描述</div>
                    <div class="col-xs-10"><textarea class="form-control" cols="6" disabled ng-model="processmodal.description"></textarea></div>
                </div>
                <!-- 
                <div class="cf mb10">
                    <div class="col-xs-2 t_r pt7 g9">适用人员</div>
                    <div class="col-xs-10">
                        <ul class="addpcs-config-prople cf">
                            <li  class="bdrs4 ng-binding ng-scope" ng-repeat="data in processmodal.roleDTOList">{{data.name}}</li>
                            <li  class="bdrs4 ng-binding ng-scope" ng-repeat="data in processmodal.userDTOList">{{data.name}}</li>
                        </ul>
                    </div>
                </div>
                 -->
<!--                <div class="cf mb10">
                    <div class="col-xs-2 t_r pt7 g9">流程名称</div>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" ng-model="processmodal.title" placeholder="输入您新建的流程名称">
                    </div>
                </div>-->
            </div>
            <div class="pct60 f12">
                <div class="cf mb10" ng-repeat="obj in processmodal.processFieldDTOList">
                    <span class="pace-inactive">{{obj.seqNo=$index+1}}</span>
                    <div ng-switch on="obj.type">
                        <div ng-switch-when="TEXT">
                            <div class="col-xs-2 t_r pt7 g9"><span class="red" ng-if="obj.mandatory==true">*</span>{{obj.name || '无'}}</div>
                            <div class="col-xs-10">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td width="210"><input type="text" class="form-control wd200" placeholder="{{obj.placeholder || '无'}}" ng-model="obj.value" maxlength="40"></td>
                                        <td><span class="red">最大40个字符</span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div ng-switch-when="NUMBER">
                            <div class="col-xs-2 t_r pt7 g9"><span class="red" ng-if="obj.mandatory==true">*</span>{{obj.name || '无'}}</div>
                            <div class="col-xs-10">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td width="210"><input type="number" class="form-control wd200" placeholder="{{obj.placeholder || '无'}}" ng-model="obj.value" maxlength="20"></td>
                                        <td><span class="red">最大20个字符</span></td>
                                    </tr>
                                </table>

                            </div>
                        </div>

                        <div ng-switch-when="TEXTAREA">
                            <div class="col-xs-2 t_r pt7 g9"><span class="red" ng-if="obj.mandatory==true">*</span>{{obj.name || '无'}}</div>
                            <div class="col-xs-10">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td width="310"><textarea class="form-control wd300" placeholder="{{obj.placeholder || '无'}}" ng-model="obj.value" maxlength="200"></textarea></td>
                                        <td><span class="red">最大200个字符</span></td>
                                    </tr>
                                </table>

                            </div>
                        </div>

                        <div ng-switch-when="SELECTION">
                            
                            <div class="col-xs-2 t_r pt7 g9"><span class="red" ng-if="obj.mandatory==true">*</span>{{obj.name || '无'}}</div>
                            <div class="col-xs-10"><select class="form-control wd160" ng-model="obj.selectedValue" ng-options="x.value for x in obj.valueList"></select></div>
                        </div>
                        <div ng-switch-when="DATE">
                            
                            <div class="col-xs-2 t_r pt7 g9"><span class="red" ng-if="obj.mandatory==true">*</span>{{obj.name || '无'}}</div>
                            <div class="col-xs-10">
                                <div class="qiyi-group wd160">
                                    <input type="datetime" class="form-control" placeholder="{{obj.placeholder}}" date-time ng-model="obj.value" view="date" min-view="date" format="yyyy-MM-dd" step="5" auto-close="true">
                                    <span class="abs_r"><i class="iconfont icon-rili"></i></span>
                                </div>
                            </div>
                        </div>

                        <div ng-switch-when="ATTACHMENT">
                            
                            <div class="col-xs-2 t_r pt7 g9"><span class="red" ng-if="obj.mandatory==true">*</span>{{obj.name || '无'}}</div>
                            <div class="col-xs-10"><a websim-uploader divid='upload{{$index + 1}}'  type="image" options="upheadoptions"  upload-success="uploadSuccess(file,response)" upload-error="uploadError(file,reason)" ></a></div>
                        </div>
                        <div ng-switch-when="CHECKBOX">
                            
                            <div class="col-xs-2 t_r pt7 g9"><span class="red" ng-if="obj.mandatory==true">*</span>{{obj.name || '无'}}</div>
                            <div class="col-xs-10 pt5">
                                <label class="mr10" ng-repeat="data in obj.valueList"><input icheck type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="data.checked"> {{data.value}}</label>
                            </div>
                        </div>
                        <div ng-switch-when="RADIO">
                            
                            <div class="col-xs-2 t_r pt7 g9"><span class="red" ng-if="obj.mandatory==true">*</span>{{obj.name || '无'}}</div>
                            <div class="col-xs-10 pt5">
                                <label class="mr10" ng-repeat="data in obj.valueList"><input name="{{obj.name}}" value="{{data.value}}" icheck type="radio" ng-model="obj.value"> {{data.value}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            	<div class="cf mb10" ng-show="processmodal">
                    <div class="col-xs-2 t_r pt7 g9">附件</div>
                    <div class="col-xs-10 pt5">
                        <table cellspacing="0" cellpadding="0" width="100%">
                            <tr>
                                <td width="60"></td>
                            </tr>
                        </table>

                    <div class="t_l g9" ng-repeat="attachmentItem in processmodal.attachmentList">
                        <a ng-href="{{attachmentItem.url}}">{{attachmentItem.fileName}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{attachmentItem.size+' Byte'}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="red" ng-click="deleteAttachment($index)">删除</span>
                    </div>
                        <div class="btn btn-primary btn-xs upheadbtn"><input type="file" id="attachment" nv-file-select uploader="attachmentUploader"/>上传附件</div>

                    </div>
                </div>
            </div>

            <!--<div class="pct60 f12">
                <div class="cf mb10">
                    <div class="col-xs-2 t_r pt7 g9">单文本框</div>
                    <div class="col-xs-10 form-inline"><input type="text" class="form-control" placeholder="单文本框" ng-model="obj.value"></div>
                </div>
            </div>-->
        </div>


        <div class="nose-panel-body" >
            <table class="table table-hover bte bbe tr" cellspacing="0" cellpadding="0" width="100%;">
                <thead>
                <tr>
                    <th width="80"><span class="pl15">排序</span></th>
                    <th>级别</th>
                    <th width="120">审批人</th>
                    <th width="60">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in processmodal.processStepDTOList | orderBy:['stepNo']">
                    <td class="pl20"><span class="pl5">{{data.stepNo=$index+1}}</span></td>
                    <td>{{data.stepName}}</td>
                    <td>{{data.userDTO.name}}</span></td>
                    <td><button class="btn btn-default btn-xs h30" title="编辑" ng-click="editapprover(data)"><i class="iconfont icon-bianji f14"></i></button></td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="nose-panel-footer cf" ng-show="processmodal">
            <button class="btn btn-default wd80" ui-sref="processmsg.mypcs">取消</button>
            <button class="btn btn-primary wd80" ng-click="createProcessFun()">提交</button>
        </div>
    </div>

    <!--新增审批人-->
    <script type="text/ng-template" id="addapprover.html">
        <div class="whitemodal">
            <div class="modal-header">
                <button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                <div class="f16">{{approvername}}审批人</div>
            </div>
            <form role="baseForm" name="baseForm"  ng-submit="ok(baseForm.$valid)" novalidate="novalidate">
                <div class="modal-body">
                    <table cellpadding="0" cellspacing="0" width="100%" class="line30td">
<!--                        <tr>
                            <td class="g9">级别名称</td>
                            <td class="pl5">
                                <div class="nose-group"  ng-class="{'has-error':baseForm.stepName.$dirty && baseForm.stepName.$invalid}">
                                    <i class="iconfont icon-tishi f20 abs_r" ng-show="baseForm.stepName.$dirty && baseForm.stepName.$invalid" popover="请输入名称" popover-placement="bottom" popover-trigger="mouseenter"></i>
                                    <input type="text" class="form-control" name="stepName" ng-model="processDefStep.stepName"  placeholder="请输入名称" required />
                                </div>
                            </td>
                        </tr>-->
                        <tr>
                            <td class="g9" valign="top">审批人</td>
                            <td class="pl5">
                                <div selectdepyuan yuangong="1" myselected="processDefStep.myselected" selectedallarr="processDefStep.selectedallarr"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" ng-click="cancel()">关闭</button>
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div>
    </script>

    <!-- Footer -->
    <div ng-include="'modules/common/footer.html'"></div>
</div>
