<div id="page-wrapper" class="{{$state.current.name}}" ng-controller="myauditdetailCtrl">
    <!--主要内容-->
    <div class="payetilebox">
        <div class="f_r mt5"><!--<a class="iconfont icon-fanhui f22" back-button title="返回"></a>--> <a class="iconfont icon-shuaxin f22 ml15" reload-route title="刷新"></a></div>
        <ul>
            <li class="active">部门管理</li>
        </ul>
    </div>
    <ol class="breadbox">
        <li>工作面板</li>
        <li>审批</li>
        <li>我的审批</li>
        <li class="active">流程详情</li>
    </ol>

    <div class="nose-panel">
        <div class="p30">
            <ul class="mypcsdetail-pcs f12">
                <li ng-repeat="data in pcsdetail.processStepDTOList" ng-class="{'sucs':data.status=='APPROVED','jing':data.status=='PENDING'}">
                    <span class="sign"></span>
                    <div class="textbox" ng-if="data.status=='APPROVED'">
                        {{data.stepName}} | {{data.userDTO.name}} <span class="green ml10">同意</span> <span class="g9 ml10">{{data.actionDate}}</span>
                    </div>
                    <div class="textbox" ng-if="data.status=='PENDING'&&data.stepNo==pcsdetail.currentStepNo">
                        {{data.stepName}} | {{data.userDTO.name}} <span class="orange ml10">待处理</span> 
                        <button class="btn btn-primary btn-xs ml10" ng-click="tongyitoggle()">同意</button>
                        <button class="btn btn-default btn-xs ml10" ng-click="jujuetoggle()">拒绝</button>
                        <div class="wd300 pt5" ng-show="jujue">
                            <form role="baseForm" name="baseForm"  ng-submit="rejectdproFun(baseForm.$valid,rejectMsg)" novalidate="novalidate">
                            <textarea class="form-control" cols="4" ng-model="rejectMsg" placeholder="请输入拒绝理由" maxlength="200" required></textarea>
                            <button type="submit" class="btn btn-primary btn-xs mt3" >提交</button>
                            </form>
                        </div>
                        <div class="wd300 pt5" ng-show="tongyi">
                            <form role="baseForm" ng-submit="agreedproFun(rejectMsg)" novalidate="novalidate">
                            <textarea class="form-control" cols="4" ng-model="rejectMsg" placeholder="请输入备注" maxlength="200" ></textarea>
                            <button type="submit" class="btn btn-primary btn-xs mt3" >提交</button>
                            </form>
                        </div>
                    </div>
                    <div class="textbox" ng-if="data.status=='PENDING'&&data.stepNo!=pcsdetail.currentStepNo">
                        {{data.stepName}} | {{data.userDTO.name}}
                    </div>
                    <div class="textbox" ng-if="data.status=='REJECTED'">
                        {{data.stepName}} | {{data.userDTO.name}} <span class="red ml10">拒绝</span> <span class="g9 ml10">{{data.actionDate}}</span>
                    </div>
                </li>

                <!--<li class="sucs">
                    <span class="sign"></span>
                    <div class="textbox">
                        一级审批 / 组长 <span class="ml10">欧倩怡</span><span class="green ml10">同意</span> <span class="g9 ml10">08-12 12:30</span>
                    </div>
                </li>
                <li class="jing">
                    <span class="sign"></span>
                    <div class="textbox">
                        二级审批 / 部门经理<span class="ml10">师伯平</span><span class="orange ml10">等待处理</span>
                        <button class="btn btn-primary btn-xs ml10">同意</button>
                        <button class="btn btn-default btn-xs ml10" ng-click="jujuetoggle()">拒绝</button>
                        <div class="wd300 pt5" ng-show="jujue">
                            <textarea class="form-control" cols="4" placeholder="请输入拒绝理由"></textarea>
                            <button class="btn btn-primary btn-xs mt3" ui-sref="processmsg.myaudit">提交</button>
                        </div>
                    </div>

                </li>
                <li>
                    <span class="sign"></span>
                    <div class="textbox">
                        三级审批 / 副总经理 <span class="ml10">王二麻</span>
                    </div>
                </li>-->

            </ul>
             <table class="line40td mt10 f12" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td width="80" class="t_r">审批编号：</td>
                    <td class="pl10">{{pcsdetail.processUuid}}</td>
                </tr>
                <tr>
                    <td width="80" class="t_r">申请人：</td>
                    <td class="pl10">{{pcsdetail.launchUserDTO.name}}</td>
                </tr>
                <tr>
                    <td width="80" class="t_r">申请时间：</td>
                    <td class="pl10">{{pcsdetail.createDate}}</td>
                </tr>
                <tr>
                    <td width="80" class="t_r">申请流程：</td>
                    <td class="pl10">{{pcsdetail.title}}</td>
                </tr>
                <tr ng-show="pcsdetail.cost">
                    <td width="80" class="t_r" valign="top">项目名称:</td>
                    <td class="pl10">
                            {{pcsdetail.projectDTO.projectName}}
                    </td>
                </tr>
                <tr>
                    <td width="80" class="t_r" valign="top">申请内容：</td>
                    <td class="pl10">
                        <div ng-repeat="data in pcsdetail.processFieldDTOList | orderBy:'seqNo'">
                            {{data.name}}：{{data.value}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="80" class="t_r" style="text-align:right">附件：</td>
                    <td class="pl10">
                    	<div ng-repeat="attachmentItem in pcsdetail.attachmentList">
                            <a target="_blank" ng-href="{{attachmentItem.url}}">{{attachmentItem.fileName}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{attachmentItem.size+' Byte'}}
                        </div>
                    </td>
                </tr>

            </table>
        </div>
    </div>



    <!-- Footer -->
    <div ng-include="'modules/common/footer.html'"></div>
</div>
<script>

</script>
