<div id="page-wrapper" class="{{$state.current.name}}" ng-controller="mypcsCtrl">
    <!--主要内容-->
    <div class="payetilebox" ng-init="initFun()">
        <div class="f_r mt5"><!--<a class="iconfont icon-fanhui f22" back-button title="返回"></a>--> <a class="iconfont icon-shuaxin f22 ml15" reload-route title="刷新"></a></div>
        <ul>
            <li class="active">我的申请</li>
        </ul>
    </div>
    <ol class="breadbox">
        <li>工作面板</li>
        <li>审批流程</li>
        <li class="active">我的申请</li>
    </ol>
    <div class="btnbox">
        <form class="f_r form-inline">
            <button class="btn btn-default btn-sm" ng-model="Processstatus" btn-radio="">全部</button>
            <button class="btn btn-default btn-sm" ng-model="Processstatus" btn-radio="'审批中'">审批中</button>
            <button class="btn btn-default btn-sm" ng-model="Processstatus" btn-radio="'已通过'">已通过</button>
            <button class="btn btn-default btn-sm" ng-model="Processstatus" btn-radio="'已拒绝'">已拒绝</button>
            <button class="btn btn-default btn-sm" ng-model="Processstatus" btn-radio="'已撤回'">已撤回</button>
            <select class="form-control input-sm" ng-model="selectedproclass" ng-options="x.name for x in prosclasslist"></select>
            <span class="form-group-sm search-group">
                <input type="text" class="form-control wd180" ng-model="processtitle" placeholder="申请内容关键词">
                <span class="searchbtn"><i class="iconfont icon-sousuo f18"></i></span>
            </span>
        </form>
        <button class="btn btn-default btn-sm" ui-sref="processmsg.addpcs">新建流程</button>
    </div>
    <div class="nose-panel">
        <div class="nose-panel-body">
            <table class="table table-hover tr" cellspacing="0" cellpadding="0" width="100%;">
                <thead>
                    <tr>
                        <th width="80"><span class="pl15">类别</span></th>
                        <th>申请内容</th>
                        <th width="150">申请时间</th>
                        <th width="120">审批人</th>
                        <th width="100">审批结果</th>
                        <th width="90">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in inquiryProcessesData | filter:{'status':Processstatus,'processType':selectedproclass.name,'title':processtitle}">
                        <td><span class="pl15">{{data.processType}}</span></td>
                        <td>{{data.title}}</td>
                        <td>2016-09-23  20:30</td>
                        <td>{{data.processStepDTOList[data.currentStepNo].stepName}}</td>
                        <td><span ng-class="{'orange':data.status=='审批中','green':data.status=='已通过','red':data.status=='已拒绝','g9':data.status=='已撤回'}">{{data.status}}</span></td>
                        <td><button class="btn btn-default btn-xs h30" title="查看" ng-click="chakanFun(data)"><i class="iconfont icon-chakan f14"></i></button><button class="btn btn-default btn-xs h30 ml5" title="撤回" ng-click="changeProcessFun(data)"><i class="iconfont icon-fanhui f14"></i></button></td>
                    </tr>
<!--
                    <tr>
                        <td><span class="pl15">休假</span></td>
                        <td>回家请假3天</td>
                        <td>2016-09-23  20:30</td>
                        <td>王坤</td>
                        <td><span class="green">已通过</span></td>
                        <td><button class="btn btn-default btn-xs h30" title="查看" ui-sref="processmsg.mypcsdetail"><i class="iconfont icon-chakan f14"></i></button><button class="btn btn-default btn-xs h30 ml5" title="撤回" ng-click="delete()"><i class="iconfont icon-fanhui f14"></i></button></td>
                    </tr>
                    <tr>
                        <td><span class="pl15">休假</span></td>
                        <td>回家请假3天</td>
                        <td>2016-09-23  20:30</td>
                        <td>王坤</td>
                        <td><span class="red">已拒绝</span></td>
                        <td><button class="btn btn-default btn-xs h30" title="查看" ui-sref="processmsg.mypcsdetail"><i class="iconfont icon-chakan f14"></i></button><button class="btn btn-default btn-xs h30 ml5" title="撤回" ng-click="delete()"><i class="iconfont icon-fanhui f14"></i></button></td>
                    </tr>
                    <tr>
                        <td><span class="pl15">休假</span></td>
                        <td>回家请假3天</td>
                        <td>2016-09-23  20:30</td>
                        <td>王坤</td>
                        <td><span class="g9">已回撤</span></td>
                        <td><button class="btn btn-default btn-xs h30" title="查看" ui-sref="processmsg.mypcsdetail"><i class="iconfont icon-chakan f14"></i></button><button class="btn btn-default btn-xs h30 ml5" title="撤回" ng-click="delete()"><i class="iconfont icon-fanhui f14"></i></button></td>
                    </tr>-->
                </tbody>
            </table>
        </div>
        <div class="nose-panel-footer cf bte">
            <pagination class="pagination-sm yi-page m0 f_r" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize"  boundary-links="true"></pagination>
            <div class="g9">共 3625 条数据</div>
        </div>
    </div>

    <!--删除-->
    <script type="text/ng-template" id="delete.html">
        <div class="inmodal bdrs8 ovh">
            <div class="modal-body t_c">
                <div class="pt20"><i class="iconfont icon-tishi f18 orange mr5"></i>您确定要回撤选择项么？</div>
                <div class="p10 mt30">
                    <button type="button" class="btn btn-white btn-sm wd80" ng-click="cancel()">取消</button>
                    <button type="button" class="btn btn-primary btn-sm wd80" ng-click="ok()">确定</button>
                </div>
            </div>
        </div>
    </script>

    <!-- Footer -->
    <div ng-include="'modules/common/footer.html'"></div>
</div>
<script>

</script>
