<div id="page-wrapper" ng-controller="salarymsgissueCtrl" ng-init="initFun()">
    <!--主要内容-->
    <div class="payetilebox">
        <div class="f_r mt5"><!--<a class="iconfont icon-fanhui f22" back-button title="返回"></a>--> <a class="iconfont icon-shuaxin f22 ml15" ng-click="initFun()" title="刷新"></a></div>
        <ul>
            <li class="active">薪资发放</li>
        </ul>
    </div>
    <ol class="breadbox">
        <li>工作面板</li>
        <li>薪资</li>
        <li class="active">薪资发放</li>
    </ol>
    <div class="nose-panel">
        <div class="nose-panel-body">
            <div class="p30">
                <ul class="salary_issue f20">
                    <li ng-repeat="data in summaryListData" ng-class="{'jing':data.totalSettledEmployeeCount==0,'waing':data.totalSettledEmployeeCount<data.totalEmployeeCount}">
                        <span class="sign bdrs50">{{data.month}} <span class="f12 ml-5">/月</span></span>
                        <div class="textbox row">
                            <div class="col-lg-2">{{data.totalSettledEmployeeCount}}/{{data.totalEmployeeCount}}<span class="f12 g9 ml5">已发放</span></div>
                            <div class="col-lg-2">{{data.totalAmountMonth}}<span class="f12 g9 ml5">总金额</span></div>
                            <!--<div class="col-lg-2">0.00<span class="f12 g9 ml5">税</span></div>-->
                            <div class="col-lg-2">{{data.totalSocialSecurityMonth}}<span class="f12 g9 ml5">五险一金</span></div>
                            <div class="col-lg-2">
                                <button class="btn btn-default" ng-if="data.totalSettledEmployeeCount!=data.totalEmployeeCount" ui-sref="salarymsg.issueview({year:thisyear,month:data.month})">发放工资</button>
                                <button class="btn btn-default" ng-if="data.totalSettledEmployeeCount==data.totalEmployeeCount" ui-sref="salarymsg.issueview({year:thisyear,month:data.month})">查看明细</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--<div class="nose-panel-footer cf bte">
            <pagination ng-show="thispages.total>thispages.pageSize" total-items="thispages.total"  items-per-page="thispages.pageSize" ng-model="thispages.pageNum" max-size="5"  class="pagination-sm yi-page m0 f_r" boundary-links="true"></pagination>
            <div class="g9">共 {{thispages.total || '0'}} 条数据</div>
        </div>-->
    </div>


    <!-- Footer -->
    <div ng-include="'modules/common/footer.html'"></div>
</div>
