<div id="page-wrapper" ng-controller="salarymsgviewCtrl" ng-init="initFun()">
    <!--主要内容-->
    <div class="payetilebox">
        <div class="f_r mt5"><!--<a class="iconfont icon-fanhui f22" back-button title="返回"></a>--> <a class="iconfont icon-shuaxin f22 ml15" ng-click="initFun()" title="刷新"></a></div>
        <ul>
            <li class="active">{{thisyear}}年{{thismonth}}月工资</li>
        </ul>
    </div>
    <ol class="breadbox">
        <li>工作面板</li>
        <li>薪资</li>
        <li>薪资发放</li>
        <li class="active">发放详情</li>
    </ol>
    <div class="btnbox">
        <button class="btn btn-default btn-sm" ng-click="createPayrollFunAll()" ng-if="editMode">生成工资单</button>
        <!--<div class="line28 f_l">搜索“ <span class="red ng-binding">1</span> ”，共搜索到<span class="red ng-binding">1</span>条记录</div>-->
        <form class="f_r form-inline">
            <!--<span class="form-group-sm search-group">
                <input type="text" class="form-control wd180" ng-model="form.searchValue" placeholder="关键词">
                <span class="searchbtn"><i class="iconfont icon-sousuo f18"></i></span>
            </span>-->
            <span class="form-group-sm search-group">
                <input type="text" class="form-control wd180" placeholder="姓名/手机/邮箱" ng-model="sltname">
                <span class="searchbtn"><i class="iconfont icon-sousuo f18"></i></span>
            </span>
        </form>

    </div>
    <div class="nose-panel">
        <div class="nose-panel-body">
            <table class="table table-hover" cellspacing="0" cellpadding="0" width="100%;">
                <thead>
                <tr>
                    <th width="50" class="t_r"><input ng-if="editMode" icheck type="checkbox" name="chkAll" ng-model="main.checkAll"></th>
                    <th>姓名</th>
                    <th width="200">员工编号</th>
                    <th width="200">部门</th>
                    <th width="200">工资状态</th>
                    <th width="60">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in datalist | filter:sltname | startFrom: (thispages.pageNum-1) * thispages.pageSize | limitTo: thispages.pageSize">
                    <td class="t_r"><input ng-if="editMode" icheck type="checkbox" value="{{data}}" name="chkList" ng-model="data.checked"></td>
                    <td>{{data.userDTO.name}}</td>
                    <td>{{data.userDTO.id}}</td>
                    <td>{{data.userDTO.orgList[0].name}}</td>
                    <td>
                    	<span ng-show="data.status=='CONFIRMED'" class="label label-success">已定薪</span>
                    	<span ng-show="data.status=='CREATED'" class="label label-warning">未定薪</span>
                    	<span ng-show="data.status==''" class="label label-danger">已生成</span>
                    </td>
                    <td><button class="btn btn-default btn-xs h30" title="查看" ng-click="s_issueDetail(data)"><i class="iconfont icon-chakan f14"></i></button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="nose-panel-footer cf bte">
            <pagination ng-show="thispages.total>thispages.pageSize" total-items="thispages.total"  items-per-page="thispages.pageSize" ng-model="thispages.pageNum" max-size="5"  class="pagination-sm yi-page m0 f_r" boundary-links="true"></pagination>
            <div class="g9">共 {{thispages.total || '0'}} 条数据</div>
        </div>
    </div>


    <!-- Footer -->
    <div ng-include="'modules/common/footer.html'"></div>
</div>

<!--工资单明细-->
<script type="text/ng-template" id="s_issueDetail.html">
    <div class="whitemodal">
        <div class="modal-header">
            <button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <div class="f16">工资单明细</div>
        </div>
        <!--{{baseForm.$valid}}-->
        <form role="baseForm" name="baseForm"  ng-submit="changePayrollFun(baseForm.$valid)" novalidate="novalidate">
            <div class="modal-body bte issueview_madal1">
                <div ng-if="inquiryPayrollData.status=='CREATED'">
                    <div class="mt15">
                        <span class="f16">{{userinfo.name}}</span>
                        <span class="label label-sm label-primary ml5" >未定薪</span>
                    </div>
                    <div class="row f16 mt10">
                        <div class="col-xs-3 t_r">{{inquiryPayrollData.totalIncome}}</div>
                        <div class="col-xs-3"><span class="g9 f12">总收入</span></div>
                        <div class="col-xs-3 t_r">{{inquiryPayrollData.totalDeduction}}</div>
                        <div class="col-xs-3"><span class="g9 f12">扣除金额</span></div>
                        <div class="col-xs-3 t_r">{{inquiryPayrollData.totalIncome-inquiryPayrollData.totalDeduction}}</div>
                        <div class="col-xs-3"><span class="g9 f12">到账金额</span></div>
                    </div>
                    <div class="h5"></div>
                    <div class="salary_line01"><span>收入明细页</span></div>
                    <div class="row f16 mt10">
                        <span ng-repeat="data in inquiryPayrollData.payrollItems | filter:{income:true}">
                            <div class="col-xs-3 t_r"><input type="text" class="form-control wd100 f_r" ng-model="data.itemAmount" required></div>
                            <div class="col-xs-3"><span class="g9 f12">{{data.itemName}}</span></div>
                        </span>
                    </div>
                    <div class="clear h10"></div>
                    <div class="salary_line01"><span>扣除明细页</span></div>
                    <div class="row f16 mt10">
                        <span ng-repeat="data in inquiryPayrollData.payrollItems | filter:{income:false}">
                            <div class="col-xs-3 t_r"><input type="text" class="form-control wd100 f_r" ng-model="data.itemAmount" required></div>
                            <div class="col-xs-3"><span class="g9 f12">{{data.itemName}}</span></div>
                        </span>
                    </div>
                </div>
                <div ng-if="inquiryPayrollData.status!='CREATED'">
                    <div class="mt15">
                        <span class="f16">{{userinfo.name}}</span>
                        <span class="label label-sm label-primary ml5" ng-if="inquiryPayrollData.status=='CREATED'">未定薪</span>
                        <span class="label label label-success ml5" ng-if="inquiryPayrollData.status=='CONFIRMED'">已定薪</span>
                    </div>
                    <div class="row f16 mt10">
                        <div class="col-xs-3 t_r">{{inquiryPayrollData.totalIncome}}</div>
                        <div class="col-xs-3"><span class="g9 f12">总收入</span></div>
                        <div class="col-xs-3 t_r">{{inquiryPayrollData.totalDeduction}}</div>
                        <div class="col-xs-3"><span class="g9 f12">扣除金额</span></div>
                        <div class="col-xs-3 t_r">{{inquiryPayrollData.totalIncome-inquiryPayrollData.totalDeduction}}</div>
                        <div class="col-xs-3"><span class="g9 f12">到账金额</span></div>
                    </div>
                    <div class="h5"></div>
                    <div class="salary_line01"><span>收入明细页</span></div>
                    <div class="row f16 mt10">
                        <span ng-repeat="data in inquiryPayrollData.payrollItems | filter:{income:true}">
                            <div class="col-xs-3 t_r">{{data.itemAmount}}</div>
                            <div class="col-xs-3"><span class="g9 f12">{{data.itemName}}</span></div>
                        </span>
                    </div>
                    <div class="h10"></div>
                    <div class="salary_line01"><span>收入明细页</span></div>
                    <div class="row f16 mt10">
                        <span ng-repeat="data in inquiryPayrollData.payrollItems | filter:{income:false}">
                            <div class="col-xs-3 t_r">{{data.itemAmount}}</div>
                            <div class="col-xs-3"><span class="g9 f12">{{data.itemName}}</span></div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer mt10">
                <span ng-if="inquiryPayrollData.status=='CREATED'">
                <button type="button" class="btn btn-white wd80" ng-click="cancel()">取消</button>
                <button type="submit" class="btn btn-primary wd80" ng-click="changePayrollFun()">定薪</button>
                </span>
                <!--<span ng-if="(inquiryPayrollData.status=='CREATED') && editfalaryed">
                <button type="button" class="btn btn-white wd80" ng-click="editfalary1()">修改</button>
                <button type="submit" class="btn btn-primary wd80">定薪</button>
                </span>
                <span ng-if="!editfalaryed">
                <button type="button" class="btn btn-white wd80" ng-click="editfalary2()">取消</button>
                <button type="submit" class="btn btn-primary wd80" ng-click="editfalary1()">保存修改</button>
                </span>-->
            </div>
        </form>
    </div>
</script>