<div id="page-wrapper" ng-controller="noticeviewCtrl" ng-init="initFun()">
    <!--主要内容-->
    <div class="payetilebox">
        <div class="f_r mt5"><!--<a class="iconfont icon-fanhui f22" back-button title="返回"></a>--> <a class="iconfont icon-shuaxin f22 ml15" ng-click="initFun()" title="刷新"></a></div>
        <ul>
            <li class="active">公司公告</li>
        </ul>
    </div>
    <ol class="breadbox">
        <li>工作面板</li>
        <li class="active">公司公告</li>
    </ol>
    <!-- 
    <div class="btnbox">
        <form class="f_r form-inline">
            <span class="form-group-sm search-group">
            </span>
        </form>
    </div>
     -->
    <div class="nose-panel">
        <table class="bbe" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td width="300" valign="top" class="bre">
                    <div class="nt_detail_lf" slim-scroll box-height="700">
                        <ul>
                            <li data-toggle="tab" ng-class="{'active':data.name==thedataname}" ng-repeat="data in inquiryAnnouncementsData" ng-click="rowview(data)">
                                <div class="dt">
                                    <!--<span class="iyuan f_r bdrs50 mt8"></span>-->
                                    <span class="f16">{{data.name | characters:10}}</span>
                                </div>
                                <div class="dd mt5 f12"><span class="f_r">{{data.announcementDate | words:1}}</span>{{data.sentName}}&nbsp;</div>
                            </li>
                        </ul>
                    </div>
                </td>
                <td valign="top">
                    <div class="nt_detail_rf">
                        <h3>{{rowviewdetail.name}}</h3>
                        <div class="mt5 pb5 g9 f12 bbe"><span class="f_r">{{rowviewdetail.announcementDate | words:1}}</span>{{rowviewdetail.sentName || ''}}&nbsp;</div>
                        <div class="mt10 line24 f16 g6">
                            {{rowviewdetail.content}}
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="nose-panel-body">

        </div>
    </div>
    <!-- Footer -->
    <div ng-include="'modules/common/footer.html'"></div>
</div>
