<div id="page-wrapper"  ng-controller="cssetCtrl" ng-init="initFun()">
    <!--主要内容-->
    <div class="payetilebox">
        <div class="f_r mt5"><!--<a class="iconfont icon-fanhui f22" back-button title="返回"></a>--> <a class="iconfont icon-shuaxin f22 ml15" reload-route title="刷新"></a></div>
        <ul>
            <li class="active">参数设置</li>
        </ul>
    </div>
    <ol class="breadbox">
        <li>工作面板</li>
        <li>系统设置</li>
        <li class="active">参数设置</li>
    </ol>
    <div class="btnbox">
    </div>
    <div class="nose-panel">
        <div class="nose-panel-body">
            <table class="table table-hover bbe editwd60" cellspacing="0" cellpadding="0" width="100%;">
                <thead>
                <tr>
                    <th width="150" class="pl20">设置名称</th>
                    <th width="180">值(分钟|次)</th>
                    <th>描述</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <tr ng-repeat="data in dataslist | limitTo:2">
                    <td class="pl20">{{data.nameas}}</td>
                    <td>
                        <span editable-number="data.value" e-form="Vcode" onbeforesave="changeParameterFun($data,data.name)" >{{data.value || '无'}}</span> <span class="ml5 poi orange" ng-click="Vcode.$show()" ng-hide="Vcode.$visible">修改</span>

                    </td>
                    <td>{{data.description}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--<div class="nose-panel-footer cf bte">
            <pagination class="pagination-sm yi-page m0 f_r" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize"  boundary-links="true"></pagination>
            <div class="g9">共 3625 条数据</div>
        </div>-->
    </div>


    <!-- Footer -->
    <div ng-include="'modules/common/footer.html'"></div>
</div>
