<div id="page-wrapper"  ng-controller="cssetCtrl">
    <!--主要内容-->
    <div class="payetilebox">
        <div class="f_r mt5"><!--<a class="iconfont icon-fanhui f22" back-button title="返回"></a>--> <a class="iconfont icon-shuaxin f22 ml15" reload-route title="刷新"></a></div>
        <ul>
            <li class="active">参数设置</li>
        </ul>
    </div>
    <ol class="breadbox">
        <li>工作面板</li>
        <li>系统设置</li>
        <li class="active">参数设置</li>
    </ol>
    <div class="btnbox">
    </div>
    <div class="nose-panel">
        <div class="nose-panel-body">
            <table class="table table-hover bbe editwd60" cellspacing="0" cellpadding="0" width="100%;">
                <thead>
                <tr>
                    <th width="100" class="pl20">应用</th>
                    <th width="150">名称</th>
                    <th width="180">值</th>
                    <th>描述</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="pl20">安全设置</td>
                    <td>验证码过期时间</td>
                    <td>
                        <span editable-text="Param.Vcode" e-form="Vcode">{{Param.Vcode+'分钟' || '无'}}</span> <span class="ml5 poi orange" ng-click="Vcode.$show()" ng-hide="Vcode.$visible">修改</span>

                    </td>
                    <td>系统发送到邮件及手机的验证码超过该时间将不能通过验证</td>
                </tr>
                <tr>
                    <td class="pl20">&nbsp;</td>
                    <td>验证码过期时间</td>
                    <td>3分钟<span class="orange ml5">修改</span></td>
                    <td>系统发送到邮件及手机的验证码超过该时间将不能通过验证</td>
                </tr>
                <tr>
                    <td class="pl20">&nbsp;</td>
                    <td>登录超时</td>
                    <td>30分钟<span class="orange ml5">修改</span></td>
                    <td>每次登录使用平台的最长时间，超过该时间将要求重新登录</td>
                </tr>
                <tr>
                    <td class="pl20">&nbsp;</td>
                    <td>允许登陆错误次数</td>
                    <td>5次<span class="orange ml5">修改</span></td>
                    <td>超过该最大次数，员工号将被锁定</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--<div class="nose-panel-footer cf bte">
            <pagination class="pagination-sm yi-page m0 f_r" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize"  boundary-links="true"></pagination>
            <div class="g9">共 3625 条数据</div>
        </div>-->
    </div>


    <!-- Footer -->
    <div ng-include="'modules/common/footer.html'"></div>
</div>
