<style>
    .towntabbox02 ul{ padding-left: 20px;}
</style>
<div id="page-wrapper" ng-controller="activitydtmainCtrl" ng-init="initFun()">
    <!--主要内容-->
    <div class="payetilebox">
        <div class="f_r mt5"><!--<a class="iconfont icon-fanhui f22" back-button title="返回"></a>--> <a class="iconfont icon-shuaxin f22 ml15" ng-click="init()" title="刷新"></a></div>
        <ul>
            <li class="active">营销活动详情</li>
        </ul>
    </div>
    <ol class="breadbox">
        <li>工作面板</li>
        <li>销售管理</li>
        <li>营销活动</li>
        <li class="active">营销活动详情</li>
    </ol>
    <!--    <div class="btnbox">
            <button class="btn btn-default btn-sm" ng-click="adddynamic()">发布动态</button>
        </div>-->
    <div class="nose-panel">
        <div class="nose-panel-body">
            <div class="p20">
                <table class="line30td f12" cellspacing="0" cellpadding="0" width="100%;">
                    <tr>
                        <td width="250"><span class="g9">活动名称：</span>{{datadt.campaignName}}</td>
                        <td width="250"><span class="g9">开始/结束：</span>{{datadt.startDate}}~{{datadt.endDate}}</td>
                        <td width="150"><span class="g9">负责人员：</span><span class="orange">{{datadt.userDTO.name}}</span></td>
                        <td width="150"><span class="g9">活动状态：</span>{{datadt.status | activestatus}}</td>
                        <td width="300"><span class="g9">活动类型：</span>{{datadt.campaignType}}</td>
                    </tr>
                    <tr>
                        <td><span class="g9">预计成本：</span>￥{{datadt.planCost}}</td>
                        <td><span class="g9">实际成本：</span>￥{{datadt.actualCost}}</td>
                        <td><span class="g9">参与人员：</span><span class="orange">
                            <span ng-repeat="joiner in datadt.joiners">{{joiner.name}}</span>
                        </span></td>
                        <td colspan="2"><span class="g9">活动描述：</span>{{datadt.campaignDesc}}</td>
                    </tr>
                </table>
            </div>
            <div>
                <div tabset class="towntabbox01 towntabbox02">
                    <div tab>
                        <div tab-heading>潜在客户({{datadt.customerList.length || "0"}})</div>
                        <div class="ind-medo_com" slim-scroll box-height="300">
                            <div class="btnbox">
                                <button class="btn btn-default btn-sm" ng-click="addCustomerFun()">新增</button>
                                <!--<button class="btn btn-default btn-sm" ng-click="addmodelFun()">删除</button>-->
                            </div>
                            <table class="table table-hover bbe" cellspacing="0" cellpadding="0" width="100%;">
                                <thead>
                                <tr>
                                    <th class="pl20">客户名称</th>
                                    <th width="100">联系电话</th>
                                    <!--<th width="150">E-mail</th>-->
                                    <th width="100">客户级别</th>
                                    <th width="100">客户来源</th>
                                    <th width="90">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="data in datadt.customerList">
                                    <td class="pl20">{{data.customerName}}</td>
                                    <td>{{data.customerPhone}}</td>
                                    <!--<td>{{data.customerPostCode}}</td>-->
                                    <td class="orange">{{data.customerLevel | qystatus}}</td>
                                    <td class="orange">{{data.customerSource || '无'}}</td>
                                    <td><button class="btn btn-default btn-xs ml5 h30" title="编辑" ng-click="editCustomerFun(data)"><i class="iconfont icon-bianji f14"></i></button><button class="btn btn-danger ml5 btn-xs h30" title="删除" ng-click="deleteCustomer(data)"><i class="iconfont icon-del f14"></i></button></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div tab>
                        <div tab-heading>文档({{datadt.documentDTOList.length || "0"}})</div>
                        <div class="ind-medo_com" slim-scroll box-height="300">
                            <div class="btnbox">
                                <button class="btn btn-default btn-sm" ng-click="addDocument()">新增</button>
                                <!--<button class="btn btn-default btn-sm" ng-click="deleteAllDocument()">删除</button>-->
                            </div>
                            <table class="table table-hover bbe" cellspacing="0" cellpadding="0" width="100%;">
                                <thead>
                                <tr>
                                    <th class="pl20">文档名称</th>
                                    <th width="100">上传人员</th>
                                    <!--<th width="100">项目阶段</th>-->
                                    <th width="90">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="data in datadt.documentDTOList">
                                    <td class="pl20"><a href="{{data.url}}" target="_blank">{{data.name}}</a></td>
                                    <td>{{data.userDTO.name}}</td>
                                    <!--<td>测试</td>-->
                                    <td><a target="_blank" href="{{data.url}}" class="btn btn-default btn-xs h30" title="下载"><i class="iconfont icon-xiazai f14"></i></a><button class="btn btn-danger ml5 btn-xs h30" title="删除" ng-click="deleteDocument(data)"><i class="iconfont icon-del f14"></i></button></td>
                                </tr>
                                <!--<tr ng-repeat="data in datalist | filter:sltname | startFrom: (thispages.pageNum-1) * thispages.pageSize | limitTo: thispages.pageSize">-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div tab>
                        <div tab-heading>日程活动({{datadt.activityList.length || "0"}})</div>
                        <div class="ind-medo_com" slim-scroll box-height="300">
                            <div class="btnbox">
                                <button class="btn btn-default btn-sm" ng-click="addActivitylFun()">新增</button>
                                <!--<button class="btn btn-default btn-sm" ng-click="addmodelFun()">删除</button>-->
                            </div>
                            <table class="table table-hover bbe" cellspacing="0" cellpadding="0" width="100%;">
                                <thead>
                                <tr>
                                    <th class="pl20">活动类型</th>
                                    <th width="160">开始与结束时间</th>
                                    <th width="100">提醒时间</th>
                                    <th width="100">负责人员</th>
                                    <!--<th width="100">参与人员</th>-->
                                    <th width="90">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="data in datadt.activityList">
                                    <td class="pl20">{{data.activityName}}</td>
                                    <td>{{data.startDate}} <br> {{data.endDate}}</td>
                                    <td>{{data.remindTime}}</td>
                                    <td class="orange">{{data.userDTO.name}}</td>
                                    <!--<td class="orange">{{data.userDTO.name}}</td>-->
                                    <td><!--<button class="btn btn-default btn-xs h30" title="查看" ><i class="iconfont icon-chakan f14"></i></button>--><button class="btn btn-default btn-xs ml5 h30" title="编辑" ng-click="editActivityFun(data)"><i class="iconfont icon-bianji f14"></i></button><button class="btn btn-danger ml5 btn-xs h30" title="删除" ng-click="deleteActivity(data)"><i class="iconfont icon-del f14"></i></button></td>
                                </tr>
                                <!--<tr ng-repeat="data in datalist | filter:sltname | startFrom: (thispages.pageNum-1) * thispages.pageSize | limitTo: thispages.pageSize">-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--        <div class="nose-panel-footer cf bte">
                    <pagination ng-show="thispages.total>thispages.pageSize" total-items="thispages.total"  items-per-page="thispages.pageSize" ng-model="thispages.pageNum" max-size="5"  class="pagination-sm yi-page m0 f_r" boundary-links="true"></pagination>
                    <div class="g9">共 {{thispages.total || '0'}} 条数据</div>
                </div>-->
    </div>


    <!-- Footer -->
    <div ng-include="'modules/common/footer.html'"></div>
</div>
<!--潜在客户-->
<script type="text/ng-template" id="addmodel.html">
    <div class="whitemodal">
        <div class="modal-header">
            <button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <div class="f16">{{thename}}客户</div>
        </div>
        <!--{{baseForm.$valid}}-->
        <form role="baseForm" name="baseForm" ng-submit="ok(baseForm.$valid)" novalidate="novalidate">
            <div class="modal-body">
                <table cellpadding="0" cellspacing="0" width="100%" class="line40td mt5">
                    <tr>
                        <td width="60">客户名称</td>
                        <td class="pl10">
                            <div class="nose-group"  ng-class="{'has-error':baseForm.name.$dirty && baseForm.name.$invalid}">
                                <i class="iconfont icon-tishi f20 abs_r" ng-show="baseForm.name.$dirty && baseForm.name.$error.required" popover="客户名称不能为空" popover-placement="bottom" popover-trigger="mouseenter"></i>
                                <input type="text" class="form-control" name="name" ng-model="modalform.customerName"  placeholder="输入客户名称" ng-maxlength="20" required />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="60">联系电话</td>
                        <td class="pl10">
                            <div class="nose-group" ng-class="{'has-error':baseForm.personalPhone.$dirty && baseForm.personalPhone.$invalid}">
                                <i class="iconfont icon-tishi f20 abs_r" ng-show="baseForm.personalPhone.$dirty && baseForm.personalPhone.$invalid" popover="请输入联系电话" popover-placement="bottom" popover-trigger="mouseenter"></i>
                                <input type="text"  name="personalPhone" ng-model="modalform.customerPhone"  multiple-tell class="form-control" placeholder="请输入联系电话">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="60">客户级别</td>
                        <td class="pl10">
                            <select class="form-control" ng-model="modalform.customerLevel">
                                <option value="NORMAL">一般</option>
                                <option value="IMPORTANT">重要</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="60">客户地址</td>
                        <td class="pl10">
                            <input type="text" class="form-control" ng-model="modalform.customerAddress" placeholder="输入客户地址">
                        </td>
                    </tr>
                    <tr>
                        <td width="60">邮编号码</td>
                        <td class="pl10">
                            <input type="text" class="form-control" ng-model="modalform.customerPostCode" placeholder="输入邮政编码">
                        </td>
                    </tr>
                    <tr>
                        <td width="60">公司网址</td>
                        <td class="pl10">
                            <input type="text" class="form-control" ng-model="modalform.customerWebsite" placeholder="输入公司网址">
                        </td>
                    </tr>
                    <tr>
                        <td width="60">客户来源</td>
                        <td class="pl10">
                            <input type="text" class="form-control" ng-model="modalform.customerSource" placeholder="输入客户来源">
                        </td>
                    </tr>
                    <tr>
                        <td width="60">负责人员</td>
                        <td class="pl10">
                            <div selectdepyuan yuangong="1" myselected="modalform.myselected" selectedallarr="modalform.selectedallarr"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white wd80" ng-click="cancel()">取消</button>
                <button type="submit" class="btn btn-primary wd80">确定</button>
            </div>
        </form>
    </div>
</script>
<!--文档-->
<script type="text/ng-template" id="addDocument.html">
    <div class="whitemodal">
        <div class="modal-header">
            <button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <div class="f16">{{thename}}文档</div>
        </div>
        <!--{{baseForm.$valid}}-->
        <form role="baseForm" name="baseForm" ng-submit="ok(baseForm.$valid)" novalidate="novalidate">
            <div class="modal-body">
                <table cellpadding="0" cellspacing="0" width="100%" class="line40td mt5">
                    <tr ng-show="modalform.documentUrl">
                        <td width="60">文档名称</td>
                        <td class="pl10">
                            <a href="{{modalform.documentUrl}}" target="_blank">{{modalform.documentName}}</a> <a class="red f12" ng-click="deleteDocument()">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="60" valign="top">
                            <div class="btn btn-default upheadbtn dib">
                                <input type="file" id="campaignDocumentFile" nv-file-select uploader="campaignDocumentUploader"/>上传文档
                            </div>
                        </td>
                        <td class="pl10">

                        </td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white wd80" ng-click="cancel()">取消</button>
                <button type="submit" class="btn btn-primary wd80">确定</button>
            </div>
        </form>
    </div>
</script>
<!--日程活动-->
<script type="text/ng-template" id="rcactivities.html">
    <div class="whitemodal">
        <div class="modal-header">
            <button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <div class="f16">{{thename}}日程活动</div>
        </div>
        <!--{{baseForm.$valid}}-->
        <form role="baseForm" name="baseForm" ng-submit="ok(baseForm.$valid)" novalidate="novalidate">
            <div class="modal-body">
                <table cellpadding="0" cellspacing="0" width="100%" class="line40td mt5">
                    <tr>
                        <td width="60">活动名称</td>
                        <td class="pl10">
                            <input type="text" class="form-control" ng-model="modalform.activityName" placeholder="输入活动名称">
                        </td>
                    </tr>
                    <tr>
                        <td width="60">活动类型</td>
                        <td class="pl10">
                            <select class="form-control" ng-model="modalform.activityType">
                                <option value="">活动类型</option>
                                <option value="拜访客户">拜访客户</option>
                                <option value="会议">会议</option>
                                <option value="其他">其他</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="60">活动周期</td>
                        <td class="pl10">
                            <div class="qiyi-group line20td f_l" style="width: 210px;">
                                <input type="datetime" name="startDate" class="form-control" date-time ng-model="modalform.startDate" view="date"  format="yyyy-MM-dd HH:mm"  auto-close="true" placeholder="选择开始时间">
                                <span class="abs_r" ><i class="iconfont icon-rili" ></i></span>
                            </div>
                            <div class="qiyi-group line20td f_l ml10" style="width: 209px;">
                                <input type="datetime" name="endDate" class="form-control" date-time ng-model="modalform.endDate" view="date"  format="yyyy-MM-dd HH:mm"  auto-close="true" placeholder="选择结束时间">
                                <span class="abs_r" ><i class="iconfont icon-rili" ></i></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="60">提醒时间</td>
                        <td class="pl10">
                            <div class="qiyi-group line20td">
                                <input type="datetime" name="remindTime" class="form-control" date-time ng-model="modalform.remindTime" view="date"  format="yyyy-MM-dd HH:mm" auto-close="true" placeholder="选择开始时间">
                                <span class="abs_r" ><i class="iconfont icon-rili" ></i></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="60">负责人员</td>
                        <td class="pl10">
                            <div selectdepyuan yuangong="1" myselected="modalform.myActivity" selectedallarr="modalform.myActivityall"></div>
                        </td>
                    </tr>
                    <tr>
                        <td width="60" valign="top">备忘</td>
                        <td class="pl10">
                            <textarea class="form-control" rows="3" ng-model="modalform.memo" maxlength="100" placeholder="请输入备忘"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white wd80" ng-click="cancel()">取消</button>
                <button type="submit" class="btn btn-primary wd80">确定</button>
            </div>
        </form>
    </div>
</script>