<div id="page-wrapper" ng-controller="PtcustomermsgCtrl" ng-init="initFun()">
    <!--主要内容-->
    <div class="payetilebox">
        <div class="f_r mt5"><!--<a class="iconfont icon-fanhui f22" back-button title="返回"></a>--> <a class="iconfont icon-shuaxin f22 ml15" ng-click="init()" title="刷新"></a></div>
        <ul>
            <li class="active">潜在客户</li>
        </ul>
    </div>
    <ol class="breadbox">
        <li>工作面板</li>
        <li>销售管理</li>
        <li class="active">潜在客户</li>
    </ol>
    <div class="btnbox">
        <form class="f_r form-inline">
            <select class="form-control input-sm dib" ng-init="selectedStatus=''" ng-model="selectedStatus" ng-options="x.val as x.name for x in thisStatusArr">
            </select>
            <span class="form-group-sm search-group">
                <input type="text" class="form-control wd180" ng-model="sltname" placeholder="搜索名称">
                <span class="searchbtn"><i class="iconfont icon-sousuo f18"></i></span>
            </span>
        </form>
        <button class="btn btn-default btn-sm" ng-click="addmodelFun()">新增</button>
    </div>
    <div class="nose-panel">
        <div class="nose-panel-body">
            <table class="table table-hover" cellspacing="0" cellpadding="0" width="100%;">
                <thead>
                <tr>
                    <th class="pl20">客户名称</th>
                    <th width="100">联系电话</th>
                    <!--<th width="150">E-mail</th>-->
                    <th width="100">客户级别</th>
                    <th width="100">客户来源</th>
                    <th width="125">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in datalist | filter:{'userDTO':ygselected[0].name,'customerLevel':selectedStatus,'customerName':sltname} | startFrom: (thispages.pageNum-1) * thispages.pageSize | limitTo: thispages.pageSize">
                    <td class="pl20"><a class="a_prime" ui-sref="sales.Ptcustomerdtmain({'name':data.customerName})">{{data.customerName}}</a></td>
                    <td>{{data.customerPhone}}</td>
                    <!--<td>{{data.customerPostCode}}</td>-->
                    <td>{{data.customerLevel | qystatus}}</td>
                    <td>{{data.customerSource || '无'}}</td>
                    <td><button class="btn btn-default btn-xs ml5 h30" title="编辑" ng-click="editFun(data)"><i class="iconfont icon-bianji f14"></i></button><button class="btn btn-danger ml5 btn-xs h30" title="删除" ng-click="delete(data)"><i class="iconfont icon-del f14"></i></button></td>
                </tr>
<!--
                <tr>
                    <td>成都尔康互动有限公司</td>
                    <td>13458639887</td>
                    &lt;!&ndash;<td>jammy@gieo.cn</td>&ndash;&gt;
                    <td class="orange">重要</td>
                    &lt;!&ndash;<td class="red">非常重要</td>&ndash;&gt;
                    <td class="orange">樱空释</td>
                    <td><button class="btn btn-default btn-xs h30" title="查看" ui-sref="sales.Ptcustomerdtmain"><i class="iconfont icon-chakan f14"></i></button><button class="btn btn-default btn-xs ml5 h30" title="编辑" ng-click="editstaff(data)"><i class="iconfont icon-bianji f14"></i></button><button class="btn btn-danger ml5 btn-xs h30" title="删除" ng-click="delete(data)"><i class="iconfont icon-del f14"></i></button></td>
                </tr>-->
                <!--<tr ng-repeat="data in datalist | filter:sltname | startFrom: (thispages.pageNum-1) * thispages.pageSize | limitTo: thispages.pageSize">-->
                </tbody>
            </table>
        </div>
        <div class="nose-panel-footer cf bte">
            <pagination ng-show="thispages.total>thispages.pageSize" total-items="thispages.total"  items-per-page="thispages.pageSize" ng-model="thispages.pageNum" max-size="5"  class="pagination-sm yi-page m0 f_r" boundary-links="true"></pagination>
            <div class="g9">共 {{thispages.total || '0'}} 条数据</div>
        </div>
    </div>


    <!-- Footer -->
    <div ng-include="'modules/common/footer.html'"></div>
</div>

<!--模板-->
<script type="text/ng-template" id="addmodel.html">
    <div class="whitemodal">
        <div class="modal-header">
            <button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
            <div class="f16">{{thename}}客户</div>
        </div>
        <!--{{baseForm.$valid}}-->
        <form role="baseForm" name="baseForm" ng-submit="ok(baseForm.$valid)" novalidate="novalidate">
            <div class="modal-body">
                <table cellpadding="0" cellspacing="0" width="100%" class="line40td mt5">
                    <tr>
                        <td width="60">客户名称</td>
                        <td class="pl10">
                            <div class="nose-group"  ng-class="{'has-error':baseForm.name.$dirty && baseForm.name.$invalid}">
                                <i class="iconfont icon-tishi f20 abs_r" ng-show="baseForm.name.$dirty && baseForm.name.$error.required" popover="客户名称不能为空" popover-placement="bottom" popover-trigger="mouseenter"></i>
                                <input type="text" class="form-control" name="name" ng-model="modalform.customerName"  placeholder="输入客户名称" ng-maxlength="20" required />
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td width="60">负责人员</td>
                        <td class="pl10">
                            <div selectdepyuan yuangong="1" myselected="modalform.myselected" selectedallarr="modalform.selectedallarr"></div>
                        </td>
                    </tr>
                </table>
                <div showhid>
                    <table cellpadding="0" cellspacing="0" width="100%" class="line40td dropdown" style="display: none;">
                        <tr>
                            <td width="60">联系电话</td>
                            <td class="pl10">
                                <div class="nose-group" ng-class="{'has-error':baseForm.personalPhone.$dirty && baseForm.personalPhone.$invalid}">
                                    <i class="iconfont icon-tishi f20 abs_r" ng-show="baseForm.personalPhone.$dirty && baseForm.personalPhone.$invalid" popover="请输入联系电话" popover-placement="bottom" popover-trigger="mouseenter"></i>
                                    <input type="text"  name="personalPhone" ng-model="modalform.customerPhone"  multiple-tell class="form-control" placeholder="请输入联系电话">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="60">客户级别</td>
                            <td class="pl10">
                                <select class="form-control" ng-model="modalform.customerLevel">
                                    <option value="NORMAL">一般</option>
                                    <option value="IMPORTANT">重要</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td width="60">客户地址</td>
                            <td class="pl10">
                                <input type="text" class="form-control" ng-model="modalform.customerAddress" placeholder="输入客户地址">
                            </td>
                        </tr>
                        <tr>
                            <td width="60">邮编号码</td>
                            <td class="pl10">
                                <input type="text" class="form-control" ng-model="modalform.customerPostCode" placeholder="输入邮政编码">
                            </td>
                        </tr>
                        <tr>
                            <td width="60">公司网址</td>
                            <td class="pl10">
                                <input type="text" class="form-control" ng-model="modalform.customerWebsite" placeholder="输入公司网址">
                            </td>
                        </tr>
                        <tr>
                            <td width="60">客户来源</td>
                            <td class="pl10">
                                <input type="text" class="form-control" ng-model="modalform.customerSource" placeholder="输入客户来源">
                            </td>
                        </tr>
                    </table>
                    <div class="pt10" style="padding-left: 70px;"><a class="clickbtn" title="展开/收起"><i class="fa fa-lg fa-angle-down"></i><span class="f12 g9 ml5">选填字段</span></a></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white wd80" ng-click="cancel()">取消</button>
                <button type="submit" class="btn btn-primary wd80">确定</button>
            </div>
        </form>
    </div>
</script>