<div class="header t_c">
	<span class="fl"><!-- <a ui-sref="main"><i class="iconfont icon-zuo">返回</i></a> --></span>
	公告列表
	<span class="fr"><i class="iconfont icon-gongzuotai f20 orange-color" ui-sref="main"></i></span>
</div>

<div class="main-container" ng-controller="announcementListCtrl" ng-init="init()">
	<div class="section">
		<div class="section-content">
			<div class="row pt10 pb10 bt1" ng-repeat="data in  inquiryAnnouncementsData | orderBy: -announcementDate">
				<div class="col-xs-2">
					<div class="t_c" ng-class="{'imgbox':$index%3==1,'orange-imgbox':$index%3==2,'blue-imgbox':$index%3==0}">
						<span class="white-color">公告</span>
					</div>
				</div>
				<div class="col-xs-8" ui-sref="announcementdetail({'data':data.announcementUuid})">
					<span class="block c7 f18">{{data.name}}</span>
					<span class="c6">{{data.sentName}}</span>
					<span class="c6">{{data.announcementDate}}</span>
				</div>
				<div class="col-xs-2">
					<span class="block c6"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="row t_c pt20" ng-if="inquiryAnnouncementsData.length==0">无数据</div>
	<div class="row t_c pt20" ng-if="inquiryAnnouncementsData.length>0">共{{inquiryAnnouncementsData.length}}条公告</div>
	
</div>