<div class="header t_c">
	<span class="fl"><!-- <a ui-sref="main"><i class="iconfont icon-zuo">返回</i></a> --></span>
	个人中心
	<span class="fr"><i class="iconfont icon-gongzuotai f20 orange-color" ui-sref="main"></i></span>
</div>

<div class="main-container">
	<div class="section">
		<div class="section-content">
			<div class="row mt20 pt10 pb10 bt1">
				<div class="col-xs-12" ui-sref="myinfo">
					<span class="col-xs-1 fl ht40 lht40" style="top:-5px"><i class=" f30 orange-color iconfont icon-tibaoziliao"></i></span>
					<span class="col-xs-4 fl pl20 ht40 lht40">基本资料</span>
					<span class="fr ht40 lht40"><i class="iconfont icon-gengduo c6"></i></span>
				</div>
			</div>
			
		</div>
		<div class="section-content" ng-controller="logoutCtrl">
			<div class="row mt20 pt10 pb10 bb1">
				<div class="col-xs-12 t_c" ng-click="logout()">
					退出登录
				</div>
			</div>
			
		</div>
		
	</div>
	
</div>