<div class="header t_c">
	<span class="fl"><!-- <a ui-sref="main"><i class="iconfont icon-zuo">返回</i></a> --></span>
	我审批的
	<span class="fr"></span>
</div>

<div class="main-container" ng-controller="myProcessListCtrl" ng-init="init()">
	<div class="section">
		<div class="">
			<div class="row pt5 pb5 bt1">
				<div class="col-xs-1 search">
					<i class="iconfont icon-search f30"></i>
				</div>
				<div class="col-xs-11 search">
					<input type="text" class="search-input" ng-model="sltname"></input>
				</div>
			</div>
		</div>
		<div class="section-content">
			<div class="row pt10 pb10 bt1" ng-repeat="data in inquiryProcessesData | filter:sltname | filter:{'statusDesc':'审批中'}">
				<div class="col-xs-2">
					<div class="imgbox t_c">
						<span class="white-color">{{data.launchUserDTO.name}}</span>
					</div>
				</div>
				<div class="col-xs-6"  ui-sref="myprocessdetail({'data':data})">
					<span class="block c7 f18">{{data.launchUserDTO.name}}的{{data.processType}}</span>
					<span class="block c6" ng-repeat="field in data.processFieldDTOList">{{field.name}}:{{field.value}}</span>
					<span class="block orange-color">{{data.statusDesc}} - {{data.processStepDTOList[data.currentStepNo-1].userDTO.name}}</span>
				</div>
				<div class="col-xs-4">
					<span class="block c6 fr">{{data.createDate}}</span>
				</div>
			</div>

		</div>
	</div>
	
</div>