<div class="header t_c">
	<span class="fl"><!-- <a ui-sref="main"><i class="iconfont icon-zuo">返回</i></a> --></span>
	项目任务列表
	<span class="fr"><i class="iconfont icon-gongzuotai f18 orange-color" ui-sref="main"></i></span>
</div>

<div class="main-container" ng-controller="projectTaskListCtrl" ng-init="init()">
	<div class="section">
		<div class="">
			<div class="row pt5 pb5 bt1">
				<div class="col-xs-1 search">
					<i class="iconfont icon-search f30"></i>
				</div>
				<div class="col-xs-11 search">
					<input type="text" class="search-input" ng-model="sltname" placeholder="姓名/内容/项目"></input>
				</div>
			</div>
		</div>
		<div class="section-content">
			<div class="row pt10 pb10 bt1" ui-sref="projecttaskdetail({'data':task})" ng-repeat="task in displaytasklist = (tasklist | filter:{'status':selectedStatus} | filter:sltname)">
				<div class="col-xs-2">
					<div class="t_c" ng-class="{'imgbox':$index%3==1,'orange-imgbox':$index%3==2,'blue-imgbox':$index%3==0}">
						<span class="white-color">{{task.fromUserDTO.name | cutlast:2}}</span>
					</div>
				</div>
				<div class="col-xs-6">
					<span class="block c7 f18">{{task.projectDTO.projectName}}</span>
					<span class="block c7 f16">{{task.taskName}}</span>
					<span class="block c6">开始时间: {{task.startDate}}</span>
					<span class="block c6">结束时间: {{task.endDate}}</span>
					<span class="block c6">{{task.description}}</span>
				</div>
				<div class="col-xs-4">
					<span class="block c6 fr">{{task.createDate}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row t_c pt20" ng-if="displaytasklist.length==0">无数据</div>
	<div class="row footer orange-color">
		<div class="col-xs-3" ng-class="{'selected':selectedStatus=='已完成'}" ng-click="selectStatus('已完成')">已完成</div>
		<div class="col-xs-3" ng-class="{'selected':selectedStatus=='已开始'}" ng-click="selectStatus('已开始')">进行中</div>
		<div class="col-xs-3" ng-class="{'selected':selectedStatus=='已分配'}" ng-click="selectStatus('已分配')">新任务</div>
		<div class="col-xs-3" ng-class="{'selected':selectedStatus=='已拒绝'}" ng-click="selectStatus('已拒绝')">已拒绝</div>
	</div>
	
</div>