<div class="header t_c">
	<span class="fl"><!-- <a ui-sref="processlist"><i class="iconfont icon-zuo">返回</i></a> --></span>
	报告详情
	<span class="fr"></span>
</div>

<div class="main-container" ng-controller="reportDetailCtrl" ng-init="init()">
	<div class="section">
		<div class="section-content">
			<div class="row pt10 pb10 bt1">
				<div class="col-xs-12 pt5 pb5">
					<span class="c6"></span>
					<div class="imgbox t_c">
						<span class="white-color">{{data.userDTO.name}}</span>
					</div>
				</div>
				<div class="col-xs-12 pt5 pb5">
					<span class="c6">报告类型:</span>
					<span>{{data.reportType}}</span>
				</div>
				<div class="col-xs-12 pt5 pb5">
					<span class="c6">报告时间:</span>
					<span>{{data.startDate}}</span>
				</div>
				<div class="col-xs-12 pt5 pb5">
					<span>{{data.content}}</span>
				</div>
			</div>
			</div>
	</div>
</div>