<div class="header t_c">
	<span class="fl"><!-- <a ui-sref="stafflist"><i class="iconfont icon-zuo">返回</i></a> --></span>
	罗长青的报销
	<span class="fr"></span>
</div>

<div class="main-container">
	<div class="section">
		<div class="section-content">
			<div class="row pt10 pb10 bt1">
				<div class="col-xs-2">
					<div class="imgbox t_c">
						<span class="white-color">长青</span>
					</div>
				</div>
				<div class="col-xs-8">
					<span class="block c7 f18">罗长青</span>
					<span class="block orange-color">等待我审批</span>
				</div>
				<div class="col-xs-2">
					<span class="block c6"></span>
				</div>
			</div>
			<div class="row pt10 pb10 bt1">
				<div class="col-xs-12 pt5 pb5">
					<span class="c6">审批编号:</span>
					<span>2017648382948328743</span>
				</div>
				<div class="col-xs-12 pt5 pb5">
					<span class="c6">报销类型:</span>
					<span>出差报销</span>
				</div>
				<div class="col-xs-12 pt5 pb5">
					<span class="c6">金额:</span>
					<span class="orange-color">500.00</span>
				</div>
				<div class="col-xs-12 pt5 pb5">
					<span class="c6">备注:</span>
					<span>2017年8月10日去上海参与客户需求讨论</span>
				</div>
			</div>
			</div>
			<div class="section-content mt20">
			<div class="row pt20 pb20">
				<div class="col-xs-1">
					<div class="t_c">
						<span><i class="iconfont icon-zhengque green-color f20"></i></span>
					</div>
				</div>
				<div class="col-xs-2">
					<div class="imgbox t_c">
						<span class="white-color">长青</span>
					</div>
				</div>
				<div class="col-xs-5">
					<span class="block">罗长青</span>
					<span class="block green-color">已同意</span>
				</div>
				<div class="col-xs-4">
					<span class="c5">2017-03-02 12:10</span>
				</div>
			</div>
			<div class="row pt20 pb20">
				<div class="col-xs-1">
					<div class="t_c">
						<span><i class="iconfont icon-shizhong orange-color f20"></i></span>
					</div>
				</div>
				<div class="col-xs-2">
					<div class="imgbox t_c">
						<span class="white-color">长青</span>
					</div>
				</div>
				<div class="col-xs-5">
					<span class="block">罗长青</span>
					<span class="block orange-color">审批中</span>
				</div>
				<div class="col-xs-4">
					<span class="orange-color">已等待20分钟</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row footer orange-color">
		<div class="col-xs-4">同意</div>
		<div class="col-xs-4">拒绝</div>
		<div class="col-xs-4">撤销</div>
	</div>
</div>