/*注册背景图*/
.bg-login{
    width: 100%;
    height: 100%;
    min-width: 1200px;
    position: relative;
}
.login_banner{ width: 100%;  height: 475px; position:relative; overflow: hidden;}
.login-flexslider{ width: 100%; height: 100%; position: absolute; left: 0; right: 0; z-index: 0;}
.login-flexslider .slides li{ height: 100%;}
.login-flexslider .slides li>a{ display: block; width: 100%; height: 100%; background-position: center center; background-repeat: no-repeat; background-size: 100% 100%;}
.login-flexslider .flex-control-nav{ bottom: 90px; z-index: 2;}
/*.loginpage{min-width: 1200px;}*/
.loginpage .abs_l{ top: 22px; left: 50px; z-index: 1;}
.loginpage .abs_r{ top: 12px; right: 10px; z-index: 1;}

.login-box{ width: 646px; position: absolute; left: 50%; top: 50%; margin-top: -220px; margin-left: -323px;}
.login-footer{width: 100%; position: absolute; left: 0; bottom: 20px;}

.login-modal .modal-body{ padding:20px 28px;}

.verification{ width:323px !important;}

/*findpwd*/
.findpwd-step{ line-height: 26px;}
.findpwd-step .col-xs-4{ padding-left: 30px;}
.findpwd-step .col-xs-4:first-child{ padding-left: 21px;}
.findpwd-step .iconfont{ vertical-align: sub;}