.mysetheadpic{ position: absolute; left: 500px; top: 30px; text-align: center; z-index: 1;}
.mysetheadpic .imgbox{ width: 110px; height: 110px; overflow:hidden; border: #ddd dashed 1px;}
.mysetheadpic .imgbox img{ width: 100%;}

/*工资管理*/
.salary_issue{ padding:20px 25px; }
.salary_issue li{ position: relative; color: #999;}
.salary_issue li .textbox{ line-height: 50px; padding-left: 50px;  padding-bottom: 30px;}
.salary_issue li .textbox:before{
    content: " ";
    position: absolute;
    top: 8px;
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    border-left: 1px solid #E5E5E5;
    color: #E5E5E5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.salary_issue li.sucs,.salary_issue li.jing{ color: #222;}
.salary_issue li.sucs .textbox:before{  border-left-color: #00c45c;}
.salary_issue li .sign{ width: 50px; height: 50px; text-align: center; line-height: 50px; color: #fff; background-color: #00c55d; position: absolute;  left: -25px; z-index: 1;}
.salary_issue li.waing .sign{ background-color: #fe8a00;}
.salary_issue li.jing .sign{ background-color: #de3b35;}
.salary_issue li:last-child .textbox{padding-bottom: 0;}
.salary_issue li:last-child .textbox:before{border-left:none;}

.salary_line01{ border-top: #ddd dashed 1px; text-align: center; margin-top:10px; margin-bottom:10px;}
.salary_line01 > span{ display:block; width: 100px; margin-left: auto; margin-right: auto ;margin-top: -10px; background-color: #fff; color: #999;}

/*公告管理*/
.nt_detail_lf{ max-height: 730px; overflow:hidden;}
.nt_detail_lf dl{ padding:20px 15px; border-bottom: #eee solid 1px; margin-top: -1px; cursor: pointer;}
.nt_detail_lf dl:hover{ background-color: #f9f9f9; }
.nt_detail_lf dl.active{ background-color: #f7941e; color: #fff;}

.nt_detail_lf .iyuan{ width: 8px; height: 8px; display: inline-block; background-color: #f7941e;}
.nt_detail_lf dl dd{ color: #999;}
.nt_detail_lf dl.active dd{ color: #fff;}

.nt_detail_rf{ padding: 15px; }
