<div class="inmodal login-modal" ng-controller="loginCtrl">
    <div class="modal-body">
        <div ng-show="step1">
            <div class="row pt10 pb20 findpwd-step">
                <div class="col-xs-4 a_prime"><i class="iconfont icon-jiantou f_r"></i><i class="iconfont icon-one f26 mr5"></i><span class="f16">身份验证</span></div>
                <div class="col-xs-4"><i class="iconfont icon-jiantou f_r"></i><i class="iconfont icon-two f26 mr5"></i><span class="f16">重置密码</span></div>
                <div class="col-xs-4"><i class="iconfont icon-three f26 mr5"></i><span class="f16">完成找回</span></div>
            </div>
            <div class="pl15 pr15">
                <div class="mt10"><input type="text" class="form-control input-lg" placeholder="手机号码 / 邮箱 / 员工号"></div>
                <div class="form-inline mt10">
                    <input type="text" class="form-control input-lg verification" placeholder="验证码"/><button type="button" class="btn btn-primary btn-lg ml10 wd140">获取验证码</button>
                </div>
                <div class="mt20 mb10"><button type="button" class="btn btn-primary btn-lg btn-block" ng-click="firstStep()">下一步</button></div>
            </div>
        </div>
        <div ng-show="step2">
            <div class="row pt10 pb20 findpwd-step">
                <div class="col-xs-4 a_prime"><i class="iconfont icon-jiantou f_r"></i><i class="iconfont icon-one f26 mr5"></i><span class="f16">身份验证</span></div>
                <div class="col-xs-4 a_prime"><i class="iconfont icon-jiantou f_r"></i><i class="iconfont icon-two f26 mr5"></i><span class="f16">重置密码</span></div>
                <div class="col-xs-4"><i class="iconfont icon-three f26 mr5"></i><span class="f16">完成找回</span></div>
            </div>
            <div class="pl15 pr15">
                <div class="mt10"><input type="password" class="form-control input-lg" placeholder="输入新密码，密码长度为8~32位大小写字母或数字"></div>
                <div class="mt10"><input type="password" class="form-control input-lg" placeholder="确认密码"></div>
                <div class="mt20 mb10"><button type="button" class="btn btn-primary btn-lg btn-block" ng-click="secondStep()">下一步</button></div>
            </div>
        </div>
        <div ng-show="step3">
            <div class="row pt10 pb20 findpwd-step">
                <div class="col-xs-4 a_prime"><i class="iconfont icon-jiantou f_r"></i><i class="iconfont icon-one f26 mr5"></i><span class="f16">身份验证</span></div>
                <div class="col-xs-4 a_prime"><i class="iconfont icon-jiantou f_r"></i><i class="iconfont icon-two f26 mr5"></i><span class="f16">重置密码</span></div>
                <div class="col-xs-4 a_prime"><i class="iconfont icon-three f26 mr5"></i><span class="f16">完成找回</span></div>
            </div>
            <div class="pl15 pr15">
                <div class="mt10 f16">已成功重置密码，请牢记您的登录信息：</div>
                <div class="mt10 f16">登录账号  <span class="a_prime">13458639887</span> <br>登录密码  <span class="a_prime">Erkang123456</span></div>
                <div class="mt20 mb10"><button type="button" class="btn btn-primary btn-lg btn-block" ng-click="ok()">开始使用</button></div>
            </div>
        </div>
    </div>
</div>

