<!--banner-->
<div class="loginpage" ng-controller="loginCtrl">
    <div class="abs_l"><a ui-sref="index"><img src="./images/logo.png" alt=""></a> <span class="i f16 white ml5">企易工作让办公管理更简单！</span></div>
    <div class="abs_r">
        <button type="button" class="btn btn-primary bdrs20 wd100" ng-click="registerModal()">企业注册</button>
        <button type="button" class="btn btn-default btn-outline bdrs20 wd70" ng-click="loginModal()">登录</button>
    </div>
    <div class="login-flexslider" id="login_banner">
        <ul class="slides">
            <li><a style="background-image:url('./images/login_bg01.jpg')"></a></li>
            <li><a style="background-image:url('./images/login_bg02.jpg')"></a></li>
        </ul>
    </div>
    <div class="login-box white t_c animated loginscreen fadeInDown">
        <div class="f58">互联网新时代的工作方式 <button class="btn btn-primary" ng-click="login()">1111</button></div>
        <div class="f22 mt20">让办公更简单，让沟通更高效，让信息更保密</div>
        <div class="input-group input-group-lg mt20">
            <input type="text" class="form-control" placeholder="输入企业名称">
          <span class="input-group-btn">
            <button class="btn btn-primary wd120" type="button" ng-click="registerModal()">创建企业</button>
          </span>
        </div>
        <div class="mt20 f16">
            <a ng-click="loginModal()">现在登录</a>
            <span class="ml15 mr15">|</span>
            <a ng-click="findpwdModal()">忘记密码？</a>
            <span class="ml15 mr15">|</span>
            <a ng-click="registerModal('invite')">邀请注册</a>
        </div>
    </div>

    <div class="login-footer white t_c">
        &copy; 成都青辉阳科技有限公司  蜀ICP备09037253号  川公网安备51010802000016号
        <img src="./images/sign01.png" alt="">
    </div>

</div>
<script>
    var login_bannerObj=$('#login_banner');
    var WinW=$(window).width();
    var WinH=$(window).height();
    login_bannerObj.flexslider({
//        animation: "slide",
        slideshowSpeed: 10000,           // 自动播放速度毫秒
        animationSpeed: 1000,            //滚动效果播放时长
        start:function(){
            autoH();
        }
    });
    function autoH(){
        login_bannerObj.find('.slides').height(WinH);
    }
    window.onresize=function(){
        WinH=$(window).height();
        autoH();
    }

</script>